@import "kaithem_minimal.css";

/* Using a string */

@import "kaithem_fuge_icons.css";

/* Using a string */


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Lato/lato-regular.woff2');
  /* Chrome 26+, Opera 23+, Firefox 39+ */
}


html {
    background:  radial-gradient(circle, rgb(255 255 255 / 70%) 0%, rgb(188 193 162 / 64%)), url(/static/img/pergament-papier-hintergrund-braun.avif);
    background-size: cover, unset;
    background-repeat: repeat, repeat;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


 ::selection {
    background: rgba(168, 170, 59, 0.123);
    color: rgb(70, 45, 19);
}


p::first-letter,h1::first-letter,h2::first-letter,h3::first-letter, h1 *::first-letter,h2 *::first-letter,h3 *::first-letter{
  color: #874437;
  font-weight: bold;
}



body {
    color: #412f1b;
    border-color: #837b58;
}

div.card {
  border-style: solid;
  background: transparent; 
  border-width: 1px;
  border-color: rgba(65, 85, 27, 0.39);
  border-radius: 15px;
  backdrop-filter:none;
}

.highlight {
  color: rgb(33 121 33);
  border-color: rgb(33 121 33);

  background-color: transparent;
  border-width: 3px;
}


.buttonbar {
    box-shadow: none;
    background: transparent;
    text-shadow: none;
    font-weight: 500;
    --buttonbar-element-border: 1px solid rgba(58, 57, 45, 0.767);
}

.buttonbar *{
  text-shadow: none;
}
.buttonbar h2, .buttonbar h3{
  background-color: rgba(191 199 146 / 37%);
}

/* .buttonbar button:hover, .buttonbar a.button:hover
{
  backdrop-filter: blur(4px);
  color: #12a900;
} */


.menubar:is(.buttonbar), .navbar .buttonbar, .buttonbar {
    --buttonbar-convex-item-bg: transparent;
    --buttonbar-concave-item-bg: transparent;
    --buttonbar-element-border:  2px solid #361907;

}


div.menubar{
  background-color: transparent;
}
/*This handles the old style "section box", but also top level HTML section elements. It's basicattly for independant sections of content.*/

div.sectionbox,
section {
    border-style: double;
    background: var(--box-bg);
    border-width: 8px;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    border-color: #412f1b;
  }


  div.sectionbox div.sectionbox,
section section,
div.sectionbox section,
section div.sectionbox
{
  box-shadow: inset 1px 1px 8px 1px rgba(83, 49, 10, 0.486);
  border-radius: 0.8em !important;
}
  



.buttonbar{
  transform: rotate(0.2deg);
}

a {
    color: rgb(87, 25, 63);
    text-shadow: none;
    text-decoration: none;
}




div.widgetcontainer {
  background-color: rgba(70, 90, 70, 0);
  border-style: solid;
  border-color: inherit;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #874437 #8e8c71;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #8e8c71;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #874437;
    border-radius: 10px;
    border: 1px solid #000000;
  }
*::-webkit-scrollbar-corner
{
  background-color: #875b37;

}


  button:active, a.button:active,.buttonbar button:active,.buttonbar a.button:active {
    background-image: linear-gradient(40deg, rgba(153, 134, 134, 0.13), rgba(0, 0, 0, 0.200));
}

img{
  opacity: 0.8;
}

section, div.sectionbox{
  border-radius: 0.8em 0.7em 0.9em 0.8em;
}

/* body, button,html, a{
  cursor: url(/static/img/banderole/orcish_short_sword.png) 8 8, auto;
} */
.decorative-image{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.55;
  box-shadow: inset 2px 3px 8px 2px rgba(83, 49, 10, 0.096);
  border-radius: 4em;
}

.decorative-image-main
{
  background-image: url(/static/img/banderole/drinking-from-the-cask.svg);
  display: block;
  box-shadow: none;

}

.decorative-image-login
{
  background-image: url(/static/img/banderole/Halberd.svg);
  display: block;
}

.decorative-image-settings
{
  background-image: url(/static/img/banderole/johnny_automatic_horse-shoeing.svg);
  display: block;
}

.decorative-image-h-bar
{
  background-image: url(/static/img/banderole/decorativebarthing.svg);
  display: block;
}

.decorative-image-corner-ur
{
  background-image: url(/static/img/banderole/Rose-Floral-Flourish-16.svg);
  display: block;
  box-shadow: none;
}






input, button,textarea,select{
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #412f1b;
  border-radius: 12px;
}

input, textarea, select, button, a.button, .buttonbar a
{
  box-shadow: inset 1px 1px 8px 1px rgb(77 53 0 / 24%);
}

input[type=range] {
  margin: 13.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #874437;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -14px;
  width: 16px;
  height: 36px;
  background: #12a900;
  border: 3px solid #666b4b;
  border-radius: 30px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #874437;
}
input[type=range]::-moz-range-track {
  background: #a62000;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 36px;
  background: #12a900;
  border: 3px solid #666b4b;
  border-radius: 30px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 13.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #8d1b00;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #a62000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 16px;
  height: 36px;
  background: #12a900;
  border: 3px solid #666b4b;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #a62000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c02500;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
