.multibar {
    flex-basis: content;
    flex-grow: 5;
    flex-direction: row;
    display: flex;
    height: fit-content;
    flex-basis: max-content;
    flex-wrap: wrap;
}

.buttonbar {
    flex-basis: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    --buttonbar-border-radius: 12px;
    border-radius: var(--buttonbar-border-radius);
    min-height: var(--buttonbar-height);
    margin: 0.6em;
    flex-grow: 1;
    vertical-align: middle;
    height: fit-content;
    align-items: center;
    align-content: center;
    width: auto;
    box-sizing: border-box;
    background-clip: content-box;
    --buttonbar-element-border: 1px solid rgba(159, 172, 214, 0.767);
    --buttonbar-concave-item-bg: linear-gradient(180deg, rgb(37 37 37 / 9%) 12%, rgb(255 255 255 / 42%) 88%);
    --buttonbar-convex-item-bg: linear-gradient(180deg, rgb(241 238 238 / 10%) 0%, rgb(0 0 0 / 5%) 96%);
    --buttonbar-active-item-bg: linear-gradient(40deg, rgba(153, 134, 134, 0.13), rgba(0, 0, 0, 0.200));
    --buttonbar-height: 28px;
}

.multibar .buttonbar {
    width: unset;
}

.buttonbar img {
    display: inline;
}

.buttonbar a {
    display: block;
    text-align: center;
}

.buttonbar label {
    display: flex;
    flex-grow: 50;
    border: 0px;
    text-align: right;
}

.buttonbar *, .buttonbar input{
    box-sizing: border-box;
    font-size: inherit;
    height: var(--buttonbar-height);
    padding: 0px;
}

.buttonbar :is(a, a.button, select, input, meter, button) {
    margin: 0px;
    align-items: stretch;
    border-radius: 0px;
    flex-shrink: 1;
    border-radius: 0px;
    flex-basis: fit-content;
}



.buttonbar :only-child {
    flex-grow: 1;
}



.buttonbar form {
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    flex-grow: 50;
    border: 0px !important;
    display: flex;
    flex-basis: fit-content;
}

.buttonbar form :is(button, input[type=button], select) {
    flex-grow: 1;
}

.buttonbar :is(h1, h2, h3, h4, h5) * {
    border: none;
}


.buttonbar :is(h1, h2, h3, h4, h5, h6) {
        margin: 0px;
        padding: 0px;
}
     
.buttonbar> :is(h1, h2, h3, h4, h5, h6)>* {
    margin: 0px;
    padding: 0px;
}


.buttonbar :is(h1, h2, h3, h4, h5, h6, label) {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    flex-grow: 0.5;
    min-width: fit-content;
}

.buttonbar p {
    padding-left: 4px;
    min-width: fit-content;
    flex-grow: 0.5;
    margin: 0px;
}



/*P is not growable */

.buttonbar :is(meter, a, a.button, button) {
    width: fit-content;
    flex-grow: 1;
}


/*Most likely to make good use of the extra space*/

.buttonbar input:not([type="submit"]),
.buttonbar select {
    flex-grow: 50;
}

.buttonbar select,
.buttonbar button,
.buttonbar a,
.buttonbar p,
.buttonbar h1,

.buttonbar h2,
.buttonbar h3,
.buttonbar h4,
.buttonbar h5,
.buttonbar label,
.buttonbar meter,
.buttonbar input[type=submit] {
    background: var(--buttonbar-convex-item-bg);
}

.buttonbar meter {
    min-height: 100%;
}

.buttonbar :is(p, h1, h2, h3, h4, h5, h6, label) {
    vertical-align: middle;
    display: flex;
}




/*Exception: the first item always growable so it can be the title*/

.buttonbar :is(h1, h2, h3, h4, h5, h6):first-child {
    flex-grow: 50;
}

.buttonbar> :is(a, a.button, select, p, h1, h2, h3, h4, h5, h6, label, input, meter, button):first-child,
.buttonbar :is(a, a.button, select, p, h1, h2, h3, h4, h5, h6, input, meter, button, form):first-child :first-child {
    border-radius: var(--buttonbar-border-radius) 0px 0px var(--buttonbar-border-radius);
}

.buttonbar> :is(a, a.button, select, p, h1, h2, h3, h4, h5, h6, label, input, meter, button):last-child,
.buttonbar :is(a, a.button, select, p, h1, h2, h3, h4, h5, h6, input, meter, button, form):last-child :last-child {
    border-radius: 0px var(--buttonbar-border-radius) var(--buttonbar-border-radius) 0px;
}

.buttonbar> :is(a, a.button, select, p, h1, h2, h3, h4, h5, h6, label, input, meter, button):first-child:last-child {
    border-radius: var(--buttonbar-border-radius) var(--buttonbar-border-radius) var(--buttonbar-border-radius) var(--buttonbar-border-radius);
}

.buttonbar meter::-webkit-meter-inner-element {
    -webkit-appearance: inherit;
    box-sizing: inherit;
    border: 1px solid #aaa;
    height: 22px;
}

.buttonbar>form {
    border: none !important;
    border-radius: var(--buttonbar-border-radius);
}


/*The boder puts an ugly white line on the meter*/

.buttonbar>*:not(meter), .buttonbar > form >*:not(meter) {
    border: var(--buttonbar-element-border);
}


.buttonbar input:not([type="submit"]){
    border: var(--buttonbar-element-border);
    background: var(--buttonbar-concave-item-bg);
    box-shadow: inset 0px 0px 4px 2px #3838383b
}

.buttonbar label input:not([type="submit"]){
    border-top: 3px solid !important;
    border-bottom: 3px solid !important;
    border-left: var(--buttonbar-element-border) !important;
    border-right: var(--buttonbar-element-border) !important;
    border-color: rgba(170, 170, 170, 0.445) !important;
}


/*A button link while being clicked*/

.buttonbar button:active,
.buttonbar a:active {
    background-image: var(--buttonbar-active-item-bg) !important;
}

.buttonbar>label {
    display: inline-flex;
    border-top: var(--buttonbar-element-border);
    border-bottom: var(--buttonbar-element-border);
    align-items: center;
}

.buttonbar select {
    background: none;
}