@import "kaithem_minimal.css";
@import "kaithem_animations.css";

/* Using a string */

:root{
  --tool-bar-element-border: #ffd477 solid 1px;
  --concave-item-bg: rgba(0, 0, 0, 0.0);
  --convex-item-bg: rgba(0, 0, 0, 0.0);
  --convex-item-active-bg: rgba(0, 0, 0, 0.0);
  --control-border-radius: 0px;
}

[class*=" icofont-"],
[class^=icofont-] {
    color: white;
    margin-left: 4px;
    margin-right: 4px;
}

th{
    color: white;
}
a{
    color:#dddca7;
    text-decoration: none;
}
table{
    color:#dddca7;
}

iframe{
    background-color: #ffd477a9;
    border-width: 3px;
    border-color: #dddca7;
}
@font-face {
    font-family: 'ModernDOS';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/moderndos/ModernDOS9x16.ttf');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

html {
    background-color: #000000;
    opacity: 0.8;
    background-image: linear-gradient(#4b37002e 1px, transparent 1px), linear-gradient(to right, #4b37002e 1px, #000000 1px);
    background-size: 20px 20px;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'ModernDOS';
}

 ::selection {
    background: rgba(78, 73, 63, 0.431);
    color: rgb(70, 45, 19);
}

 ::-moz-selection {
    background: rgba(0, 0, 250, 0.25);
}

body {
    color: #ffd477;
    font-family: 'ModernDOS';
}


/*************************Navigation and headers************************************************************/

#topbanner {
    width: auto;
    padding: 1px;
}

#topbanner h1 {
    margin-bottom: 0.2em;
    margin-top: 0.1em;
    vertical-align: middle;
}




/************************HTML ELEMENTS***********************************/

dl {
    padding: 2px;
    margin: 2px;
}

dt {
    margin: 0.2em;
}

li:hover,
dt:hover,
dt:hover+dd,
a.button:hover,
button:hover,
input:hover,
tr:hover,
div.widgetcontainer:hover,
span.numericpv:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

p {
    margin: 0.5%;
}

hr {
    border: none;
    border-top: 1px solid #ffe6b1;
    height: 1px;
}

h1,h2,h3,h4 {
    color: #ffe6b1;
    font-weight: normal;
}

a {
    padding: 1px 3px 1px 3px;
}

ul {
    line-height: 128%;
}

table {
    background-color: rgba(240, 248, 255, 0.116);
    box-shadow: none;
}

tr.header {
    font-weight: bold;
}

th {
    background-color: black;
}

td input,
td select {
    margin: 0px;
    height: 1.8em;
    width: auto;
}

pre {
    margin: 0.2em;
}

div.kmainpagebody {}


.window{
    -webkit-animation: flicker-4 15s linear infinite both;
    animation: flicker-4 15s linear infinite both;
    border-style: solid;
    box-shadow: none;
    border-width: 1px;
    backdrop-filter: blur(1px) brightness(0.3);
    background-color: rgba(0, 0, 0, 0.3);
    border-color: #ffd477;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAHRJREFUKFNVTzsVgEAMSwYWTKAAEahAIyrwgAJUsDCEl7TwHjfc9dJ8Wq7LqG2/SBCCQAAC8BaEWxJEY26bIFBFLNg/l6o3hFhZ8hUVUB7t0/JEtATzNOg47zbIBH1oayTbV9LKseYPNaCjflu8lMC93bcsHiEmMBAIk7iGAAAAAElFTkSuQmCC) repeat;
}

img,video {
    filter: blur(0.6px) contrast(1.71) saturate(1.32) sepia(0.55) opacity(0.7);
}



.error,
.danger {
    background-color: #ff8077 !important;
    font-weight: bold;
    color: black !important;
    text-shadow: none;
}

.warning {
    background-color: #ffbb55 !important;
    font-weight: bold;
    color: black !important;
}

table {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}


/*This makes tables easier to read by coloring alternate rows differently.*/

table tr:nth-child(odd) td {
    background-color: transparent;
}

table tr:nth-child(even) td {
    background-color: rgba(230, 215, 0, 0.082);
}



button:disabled {
    background-color: #D0D0D0;
}

input:disabled {
    background-color: #D0D0D0;
}

input.modulename {
    width: 70%
}

input.pythoncode {
    width: 100%
}


/*A text area meant for describing something*/

textarea.description {
    width: 70%;
}

textarea.pythoncode {
    width: 100%;
    overflow: "scroll";
    font-size: 125%;
}

textarea.htmlcode {
    width: 100%;
    overflow: "scroll";
    font-size: 125%;
}

textarea.code {
    background-color: #E6E6B8;
    width: 100%;
    overflow: "scroll";
    font-size: 125%;
    border-radius: 0px;
}

textarea:disabled {
    background-color: #D0D0D0
}


/*This is a help paragraph usually shown at the top or a sectionbox*/

.help{
display: none;
}


/*This is a paragraph serving a similar funtion to the menu bars at the top of desktop application windows*/

p.menubar,
div.menubar {
    background-color: transparent;
    padding: 0px;
    border-width: 3px;
    border-color: #ffd477;
    backdrop-filter: blur(3px);
}

button,
a.button,
label {
    text-shadow: none;
    font-family: 'ModernDOS';
}

button,
a.button,
input[type="submit"] {
    background-color: transparent;
    color: #ffd477;
    border: 1px solid;
    border-color: #ffd477;
    font-family: 'ModernDOS';
    background-color: black;
}

input:not([type="submit"]),
textarea,
select {
    background-color: transparent;
    color: #ffd477;
    border: 1px solid;
    border-color: #ffd477;
    font-family: 'ModernDOS';
    background-color: black;

}


meter::-webkit-meter-bar{
    background-color: #665632;;
    border:none
}


meter::-webkit-meter-optimum-value{
    background-color:#ffd477;
}
.tool-bar {
    box-shadow: none;
    flex-basis: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border-radius: 0px;
    min-height: 28px;
    margin: 4px;
    flex-grow: 1;
    vertical-align: middle;
    height: fit-content;
    align-items: center;
    align-content: center;
    backdrop-filter: blur(1px);
    box-sizing: border-box;
}

header{
  background-color: transparent;
  border: none;
}


.highlight, .highlight * {
    text-shadow: none;
    font-weight: bolder;
    color: black !important;
    background-color: #ffd477 !important;
    background: #ffd477 !important;
}

.highlight input,
.error input,
.warning input, 
.highlight select, 
.error select, 
.warning select{
    text-shadow: none;
    font-weight: bolder;
    background-color: black;
    color: #ffd477 ;
    background: black ;
}

.highlight button,
.error button,
.warning button {
    text-shadow: none;
    font-weight: bolder;
    background-color: black;
    color: #ffd477 ;
    background: black;
}


/*A link styled to look like a button*/

a.button {
    border-width: 1px;
    text-decoration: none;
    color: #ffd477;
    padding: 0em 0.2em 0em 0.2em;
    display: inline-block;
}


/* A span meant to look like a pre*/

span.pre {
    background-color: transparent
}

p.pathnav {
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    cursor: help;
}

p.resource-docstring {
    color: #ffd477;
    background-color: transparent;
}
/*Widget Styles*/


/*This div is the container for most of the built in widgets. */

div.widgetcontainer {
    display: inline-block;
    background-color: transparent;
    padding-top: 0px;
    border-style: inset;
    border-width: 2px;
    color: #ffd477;
    border-color: #ffd477;
    border-style: solid;
    padding: 0px;
    margin: 2px;
    vertical-align: text-top;
}

/*Numeric Process Value. These spans are intended for displays of changing numbers.*/

span.numericpv {
    background-color: transparent;
    cursor: crosshair;
}

div.sliderwidget {
    min-width: 3.5em;
    text-align: center;
    font-size: 90%;
}

div.meterwidget {
    text-align: center;
}

button.triggerbuttonwidget {
    min-height: 6em;
}

input.verticalslider {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    height: 9.2em;
    width: 1em;
    margin: auto 0;
}

input.horizontalslider {
    height: 0.5em;
    width: 12em;
}


/************************/

input[type=range] {
    width: 80%;
    margin: 8.3px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #b6ab23;
    border: 0;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -8.3px;
    width: 20px;
    height: 25px;
    background: #ffdd00;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #dbd045;
  }
  input[type=range]::-moz-range-track {
    background: #b6ab23;
    border: 0;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 25px;
    background: #ffdd00;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 8.3px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #7a7317;
    border: 0;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #b6ab23;
    border: 0;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 20px;
    height: 25px;
    background: #ffdd00;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #b6ab23;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #dbd045;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  

/******************https://codepen.io/mlms13/pen/CGgLF********************/

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    border: none;
    border-color: #00000059;
}

tbody {
    border-radius: 15px;
}

td {
    width: max-content;
}

th {
    width: max-content;
}

table tr th,
table tr td {
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: inherit;
    padding: 4px;
}

table tr th:first-child,
table tr td:first-child {
    border-left: 2px solid;
    border-color: inherit;
}

table tr th,
table tr:first-child td {
    border-top: 2px solid;
    border-color: inherit;
    text-align: left;
}


/* top-left border-radius */

 :is(table,
thead:first-child,
tbody:first-child):first-child>tr:first-child :first-child:is(td,
th) {
    border-top-left-radius: 15px;
}


/* top-right border-radius */

 :is(table,
thead:first-child,
tbody:first-child)>tr:first-child :last-child:is(td,
th) {
    border-top-right-radius: 15px;
}


/* bottom-left border-radius */

 :is(table,
tbody)>tr:last-child :first-child:is(td,
th) {
    border-bottom-left-radius: 15px;
}


/* bottom-right border-radius */

 :is(table,
tbody)>tr:last-child :last-child:is(td,
th) {
    border-bottom-right-radius: 15px;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #ffe666 #2f3c15;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #2f3c15;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffe666;
    border-radius: 3px;
    border: 1px solid #000000;
}


@keyframes loader {
    0% {
      transform: skewX(1deg);
      filter: brightness(0.8);
    }
    50% {
        transform: skewX(-1deg);
        filter: brightness(0.8);
      }
    to {
      transform: none;
      filter: none;
    }
  }

body{
    animation: 0.4s linear 0s 1 loader;
   
}
@keyframes loader2 {
0% {
    height: 100vh;
    backdrop-filter: blur(3px) brightness(0.5) contrast(1.5);

    border-top: 3px solid #ffd477;

}
to {
    height: 0px;
    backdrop-filter: none;

    border-top: 3px solid #00ff1500;
}
}
  

  
body::after{
    bottom: 0px;
    position: absolute;
    width: 100vw;
    content: "";    
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAGZJREFUKFNNjwEOgDAIA3v6IuP/v7AnWVMYUbaEAS3t4Lmtc2FbgKwdzoscRAokGQmrUOyUfkUawc3AyGRrUYfkLdHdAgw96inxZR2rzTS977grYNFa85v+QeVjAOO+NvYPvJ1F9AU18DARTpe5OwAAAABJRU5ErkJggg==);
    height: 0px;
    animation: 1.2s linear 0s 1 loader2;
    z-index: 99999;
}
  

/* Animation */


  /* ----------------------------------------------
 * Generated by Animista on 2023-9-14 17:16:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0.5;
    }
    10% {
      opacity: 0.5;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0.5;
    }
    20% {
      opacity: 0.5;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0.5;
    }
    30% {
      opacity: 0.5;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0.5;
    }
    45% {
      opacity: 0.5;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0.5;
    }
    57% {
      opacity: 0.5;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0.5;
    }
    65% {
      opacity: 0.5;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0.5;
    }
    77% {
      opacity: 0.5;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0.5;
    }
    86% {
      opacity: 0.5;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0.5;
    }
    10% {
      opacity: 0.5;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0.5;
    }
    20% {
      opacity: 0.5;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0.5;
    }
    30% {
      opacity: 0.5;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0.5;
    }
    45% {
      opacity: 0.5;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0.5;
    }
    57% {
      opacity: 0.5;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0.5;
    }
    65% {
      opacity: 0.5;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0.5;
    }
    77% {
      opacity: 0.5;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0.5;
    }
    86% {
      opacity: 0.5;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .theme-item-animation-enter-active {
      -webkit-animation: flicker-in-1 2s linear both;
              animation: flicker-in-1 2s linear both;
  }
  

  .theme-item-animation-enter-from,
  .theme-item-animation-leave-to {
    opacity: 0;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2023-9-14 17:27:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  @keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  

  .theme-item-animation-leave-active {
	-webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


/*Theme flicker */

/* ----------------------------------------------
 * Generated by Animista on 2023-9-14 18:24:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flicker-4
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-4 {
    0%,
    100% {
      opacity: 1;
    }
    31.98% {
      opacity: 1;
    }
    32% {
      opacity: 0.7;
    }
    32.8% {
      opacity: 0.7;
    }
    32.82% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0.7;
    }
    35.7% {
      opacity: 0.7;
    }
    35.72% {
      opacity: 1;
    }
    36.98% {
      opacity: 1;
    }
    37% {
      opacity: 0.7;
    }
    37.6% {
      opacity: 0.7;
    }
    37.62% {
      opacity: 1;
    }
    67.98% {
      opacity: 1;
    }
    68% {
      opacity: 0.7;
    }
    68.4% {
      opacity: 0.7;
    }
    68.42% {
      opacity: 1;
    }
    95.98% {
      opacity: 1;
    }
    96% {
      opacity: 0.7;
    }
    96.7% {
      opacity: 0.7;
    }
    96.72% {
      opacity: 1;
    }
    98.98% {
      opacity: 1;
    }
    99% {
      opacity: 0.7;
    }
    99.6% {
      opacity: 0.7;
    }
    99.62% {
      opacity: 1;
    }
  }
  @keyframes flicker-4 {
    0%,
    100% {
      opacity: 1;
    }
    31.98% {
      opacity: 1;
    }
    32% {
      opacity: 0.7;
    }
    32.8% {
      opacity: 0.7;
    }
    32.82% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0.7;
    }
    35.7% {
      opacity: 0.7;
    }
    35.72% {
      opacity: 1;
    }
    36.98% {
      opacity: 1;
    }
    37% {
      opacity: 0.7;
    }
    37.6% {
      opacity: 0.7;
    }
    37.62% {
      opacity: 1;
    }
    67.98% {
      opacity: 1;
    }
    68% {
      opacity: 0.7;
    }
    68.4% {
      opacity: 0.7;
    }
    68.42% {
      opacity: 1;
    }
    95.98% {
      opacity: 1;
    }
    96% {
      opacity: 0.7;
    }
    96.7% {
      opacity: 0.7;
    }
    96.72% {
      opacity: 1;
    }
    98.98% {
      opacity: 1;
    }
    99% {
      opacity: 0.7;
    }
    99.6% {
      opacity: 0.7;
    }
    99.62% {
      opacity: 1;
    }
  }
  
img {
	-webkit-animation: flicker-4 7s linear infinite both;
	        animation: flicker-4 7s linear infinite both;
}
