@import "kaithem_minimal.css";

/* Using a string */

@import "kaithem_fuge_icons.css";

/* Using a string */



body {
    color:black;
    border-color: gainsboro;
}

section, div.sectionbox, button{
    border-color: gainsboro;
    border-style: solid;
}
button{
    border-radius: 2em;
}

[class*=" icofont-"],
[class^=icofont-] {
    color: rgba(0, 0, 0, 0.8);
}

a {
    color: #07c;
    text-decoration: none;
  }
  
  a:hover {
    color: #059;
    text-decoration: underline;
  }