/*
Here we used to use Fuge and Silk icons.  For consistency, we are going all in with Icofont

*/


i.icofont-key{
	color: #ffe066;
	text-shadow: black;
	text-shadow: 0px 0px 1px rgba(0, 0, 255, 1);
}

i.icofont-ui-play,i.icofont-ui-add,i.icofont-ui-check{
	color: #26c061;
}

i.icofont-ui-delete, i.icofont-trash{
	color: #b63a3a
}


[class*=" icofont-"],
[class^=icofont-] {
    color: rgba(80, 37, 15, 0.8);
    margin-left: 4px;
    margin-right: 4px;
	text-shadow: 0px 0px 1px rgb(255, 255, 255);
}
