@import "kaithem_minimal.css";
@import "kaithem_fuge_icons.css";
@import "kaithem_animations.css";


body {
    color:black;
    border-color: gainsboro;
    background-color: #EEEEEE;
}

.window, button{
    border-color: gainsboro;
    border-style: solid;
}
button{
    border-radius: 2em;
}

[class*=" icofont-"],
[class^=icofont-] {
    color: rgba(0, 0, 0, 0.8);
}

a {
    color: #07c;
    text-decoration: none;
  }
  
  a:hover {
    color: #059;
    text-decoration: underline;
  }