:root {
    --black-1: #222222;
    --black-2: #2c2c2c;
    --black-3: #4e4c4c;
    --black-4: #404040;
    --grey-1: #969494;
    --grey-2: #adadad;
    --grey-3: #dfd6d6;
    --warning-color: #ffd943;
    --danger-color: #ff4242;
    --highlight-color: #7788aa;
    --accent-color: var(--blue);

    --bg: var(--black-1);
    --box-bg: var(--black-2);
    --control-bg: var(--black-4);

    --fg: var(--grey-3);
    --graphical-fg: var(--grey-1);
    --control-fg: var(--grey-1);

    --concave-item-bg: var(--control-bg);
    --convex-item-bg: var(--control-bg);
    --convex-item-active-bg: var(--grey-1);
    --concave-item-box-shadow: none;
}