@import "kaithem_minimal.css";

/* Using a string */

@import "kaithem_animations.css";

:root {
    --black-1: #222222;
    --black-2: #2c2c2c;
    --black-3: #4e4c4c;
    --black-4: #404040;
    --grey-1: #949494;
    --grey-2: #aeaeae;
    --grey-3: #c8c8c8;
    --warning-color: #ffd943;
    --danger-color: #ff4242;
    --highlight-color: #7788aa;

    --bg: var(--black-1);
    --box-bg: var(--black-2);

    --fg: var(--grey-3);
    --graphical-fg: var(--grey-1);

    --concave-item-bg: none;
    --convex-item-bg: none;
    --convex-item-active-bg: none;
    --concave-item-box-shadow: none;
}