/*@import "missing.min.css";*/
@import "kaithem_minimal.css";

/* Using a string */

@import "kaithem_fuge_icons.css";
@import "kaithem_animations.css";

:root{
    color-scheme: light;
    --line-length: 95vw;
    --control-bg: #c9dcc975;
    --graphical-fg: #503550e3;
    --accent-color: #4d316a;
    --hightlight-color: #78dba5;

    --border-color: rgba(36, 30, 30, 0.219);
    --bg: linear-gradient( 177deg, rgb(245 247 255 / 34%) 0%, rgba(101, 143, 87, 0.493) 100%), url(/static/img/webtreats_grunge_mint_2.webp);
    --fg: #412019;
    --box-bg: rgba(228, 233, 227, 0.6);
}

 ::selection {
    background: rgba(119, 88, 206, 0.431);
    color: rgb(70, 45, 19);
}

 ::-moz-selection {
    background: rgba(0, 0, 250, 0.25);
}


/************************HTML ELEMENTS***********************************/



img, video, canvas{
    border-image-slice:20 20 20 20;
    border-image-width:20px 20px 20px 20px;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:stretch stretch;
    border-image-source: url('/static/img/frame.webp');
    box-sizing: border-box;
    border-style:solid;
    border-width: 12px;
    -webkit-box-shadow: 2px 2px 4px 0px #000000; 
    box-shadow: 2px 2px 4px 0px #000000;
}

.monaco-editor canvas, .ac-container img
{
    border-image-width:initial;
    border-image-outset:initial;
    border-image-repeat:initial;
    border-image-source: initial;
    box-sizing:initial;
    border-style:initial;
    border-width: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial;
}

dl {
    padding: 2px;
    margin: 2px;
}

dt {
    margin: 0.2em;
}

li:hover,
dt:hover,
dt:hover+dd,
a.button:hover,
button:hover,
input:hover,
tr:hover,
.widgetcontainer:hover,
span.numericpv:hover {
    background-color: rgba(150, 255, 250, 0.2);
}

p {
    margin: 0.5%;
}

a {
    border-radius: 5px;
    padding: 1px 3px 1px 3px;
}

ul {
    line-height: 128%;
}

table {
    background-color: rgba(240, 248, 255, 0.116);
    box-shadow: 5px 5px 12px -8px rgba(0, 0, 0, 0.97);
}

tr.header {
    font-weight: bold;
}

th {
    background-color: #0000001a;
}



pre {
    margin: 0.2em;
    background-color: rgba(245, 255, 230, 0.9);
}


/*This handles the old style "section box", but also top level HTML section elements. It's basicattly for independant sections of content.*/

.window{
    background: var(--box-bg);
    backdrop-filter: blur(1px);
    box-shadow: 2px 2px 16px -3px rgba(43, 39, 85, 0.7)
}


.card {
    box-shadow: 2px 2px 8px -3px rgba(43, 39, 85, 0.4)
}


section.fancy{
    border-image-slice:20 20 20 20;
    border-image-width:20px 20px 20px 20px;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:stretch stretch;
    border-image-source: url('/static/img/frame.webp');
    box-sizing: border-box;
    border-style:solid;
    border-width: 12px;

    background-image: url('/static/img/stone.webp');
    background-repeat: round !important;
    background-size: contain !important;

    padding: 1.2em;
    color: wheat;
    background-color: transparent;
    background-size:contain;
    background-repeat: no-repeat;
    backdrop-filter: unset;
    box-shadow: unset;
}

section.fancy section{
    
    border: 2px solid wheat;

    color: wheat;
    background-color: transparent;
    background-size:cover;

    backdrop-filter: unset;
    box-shadow: unset;
}



h2,
h3 {
    text-shadow: 2px 2px 7px rgba(217, 217, 217, 0.49);
}

a {
    text-shadow: 0 0 1px rgb(215 237 255);
    text-decoration: none;
}

h1 a,
h2 a {
    text-shadow: none;
}

button:disabled {
    background-color: #a0a0a0;
    color: rgb(218, 218, 218);
    opacity: 0.7;
    border-radius: 7px;
}

input:disabled {
    background-color: #D0D0D0;
}

input.modulename {
    width: 70%
}

input.pythoncode {
    width: 100%
}

td input,
td select {
    border-radius: 0px;
}


/*A text area meant for describing something*/

textarea.description {
    width: 70%;
}

textarea.pythoncode {
    width: 100%;
    overflow: "scroll";
    font-size: 125%;
}

textarea.htmlcode {
    width: 100%;
    overflow: "scroll";
    font-size: 125%;
}

textarea.code {
    background-color: #E6E6B8;
    width: 100%;
    overflow: "scroll";
    font-size: 125%;
    border-radius: 0px;
}

textarea:disabled {
    background-color: #D0D0D0
}



p.help {
    background-color: rgba(255, 255, 25, 0.1);
}

.help {
    border-radius: 8px;
}


/*This is a paragraph serving a similar funtion to the menu bars at the top of desktop application windows*/

p.menubar,
.menubar {
    background-color: rgba(160, 64, 238, 0.1);
    border-radius: 30px;
    padding: 0px;
    border-width: 3px;
    border-color: var(--graphical-fg);
    backdrop-filter: blur(3px);
}

p.tool-bar *,
.tool-bar * {
    backdrop-filter: blur(3px);
}

button,
a.button,
input[type="submit"] {
    background-image: linear-gradient(179deg, rgba(255, 255, 255, 0.247), rgba(0, 0, 0, 0.151));
}

input:not([type="submit"]),
textarea,
select {
    background-image: linear-gradient(179deg, rgba(0, 0, 0, 0.0.08), rgba(255, 255, 255, 0.247)) !important;
}

.tool-bar {
    box-shadow: 1px 5px 12px -3px rgba(43, 39, 85, 0.329);
}

.menubar:is(.tool-bar) {
    --convex-item-bg: linear-gradient(180deg, rgb(255 255 255 / 55%) 0%, rgba(0, 0, 0, 0.096) 96%);
}

button,
a.button,
input,
textarea {
    border-radius: 7px;
}


/*A link styled to look like a button*/

a.button {
    border-width: 1px;
    text-decoration: none;
    border-radius: 12px;
    padding: 0em 0.2em 0em 0.2em;
    display: inline-block;
}


button:active, a.button:active {
    background-image: linear-gradient(40deg, rgba(153, 134, 134, 0.13), rgba(0, 0, 0, 0.200));
}



/*Widget Styles*/


/*This div is the container for most of the built in widgets. */

.widgetcontainer {
    display: inline-block;
    background-color: rgba(70, 90, 70, 0.25);
    padding-top: 0px;
    border-radius: 15px;
    border-style: inset;
    border-width: 2px;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 2px;
    vertical-align: text-top;
}

.widgetcontainer>.scrollbox {
    border: none;
}


/*Numeric Process Value. These spans are intended for displays of changing numbers.*/

span.numericpv {
    cursor: crosshair;
}

.sliderwidget {
    min-width: 3.5em;
    text-align: center;
    font-size: 90%;
}

.meterwidget {
    text-align: center;
}

button.triggerbuttonwidget {
    min-height: 6em;
}

input.verticalslider {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    height: 9.2em;
    width: 1em;
    margin: auto 0;
}

input.horizontalslider {
    height: 0.5em;
    width: 12em;
}


/************************/

input[type=range] {
    margin: 5.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(48, 138, 101, 0.5);
    border: 0.2px solid rgba(1, 0, 0, 0.1);
    border-radius: 25px;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background: #9fcfd8;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #7cd2af;
}

input[type=range]::-moz-range-track {
    background: rgba(48, 138, 101, 0.5);
    border: 0.2px solid rgba(1, 0, 0, 0.1);
    border-radius: 25px;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #9fcfd8;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: var(--graphical-fg);
    border-width: 7.8px 0;
    color: transparent;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #0a1c15;
    border: 0.2px solid rgba(1, 0, 0, 0.1);
    border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
    background: rgba(48, 138, 101, 0.5);
    border: 0.2px solid rgba(1, 0, 0, 0.1);
    border-radius: 50px;
}

input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #9fcfd8;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(48, 138, 101, 0.5);
}

input[type=range]:focus::-ms-fill-upper {
    background: #7cd2af;
}


/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-color: #75608a #abd1d8;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #75608a;
  }