@import "tool-bar.css";
/* Using a string */
@import "/static/fonts/icofont/icofont.min.css";



/* https://github.com/fchristant/colar/ */
:root {
    --gray-0: #f8fafb;
    --gray-1: #f2f4f6;
    --gray-2: #ebedef;
    --gray-3: #e0e4e5;
    --gray-4: #d1d6d8;
    --gray-5: #b1b6b9;
    --gray-6: #979b9d;
    --gray-7: #7e8282;
    --gray-8: #666968;
    --gray-9: #50514f;
    --gray-10: #3a3a37;
    --gray-11: #252521;
    --gray-12: #121210;

    --red-0: #fff5f5;
    --red-1: #ffe3e3;
    --red-2: #ffc9c9;
    --red-3: #ffa8a8;
    --red-4: #ff8787;
    --red-5: #ff6b6b;
    --red-6: #fa5252;
    --red-7: #f03e3e;
    --red-8: #e03131;
    --red-9: #c92a2a;
    --red-10: #b02525;
    --red-11: #962020;
    --red-12: #7d1a1a;

    --pink-0: #fff0f6;
    --pink-1: #ffdeeb;
    --pink-2: #fcc2d7;
    --pink-3: #faa2c1;
    --pink-4: #f783ac;
    --pink-5: #f06595;
    --pink-6: #e64980;
    --pink-7: #d6336c;
    --pink-8: #c2255c;
    --pink-9: #a61e4d;
    --pink-10: #8c1941;
    --pink-11: #731536;
    --pink-12: #59102a;

    --purple-0: #f8f0fc;
    --purple-1: #f3d9fa;
    --purple-2: #eebefa;
    --purple-3: #e599f7;
    --purple-4: #da77f2;
    --purple-5: #cc5de8;
    --purple-6: #be4bdb;
    --purple-7: #ae3ec9;
    --purple-8: #9c36b5;
    --purple-9: #862e9c;
    --purple-10: #702682;
    --purple-11: #5a1e69;
    --purple-12: #44174f;

    --violet-0: #f3f0ff;
    --violet-1: #e5dbff;
    --violet-2: #d0bfff;
    --violet-3: #b197fc;
    --violet-4: #9775fa;
    --violet-5: #845ef7;
    --violet-6: #7950f2;
    --violet-7: #7048e8;
    --violet-8: #6741d9;
    --violet-9: #5f3dc4;
    --violet-10: #5235ab;
    --violet-11: #462d91;
    --violet-12: #3a2578;

    --indigo-0: #edf2ff;
    --indigo-1: #dbe4ff;
    --indigo-2: #bac8ff;
    --indigo-3: #91a7ff;
    --indigo-4: #748ffc;
    --indigo-5: #5c7cfa;
    --indigo-6: #4c6ef5;
    --indigo-7: #4263eb;
    --indigo-8: #3b5bdb;
    --indigo-9: #364fc7;
    --indigo-10: #2f44ad;
    --indigo-11: #283a94;
    --indigo-12: #21307a;

    --blue-0: #e7f5ff;
    --blue-1: #d0ebff;
    --blue-2: #a5d8ff;
    --blue-3: #74c0fc;
    --blue-4: #4dabf7;
    --blue-5: #339af0;
    --blue-6: #228be6;
    --blue-7: #1c7ed6;
    --blue-8: #1971c2;
    --blue-9: #1864ab;
    --blue-10: #145591;
    --blue-11: #114678;
    --blue-12: #0d375e;

    --cyan-0: #e3fafc;
    --cyan-1: #c5f6fa;
    --cyan-2: #99e9f2;
    --cyan-3: #66d9e8;
    --cyan-4: #3bc9db;
    --cyan-5: #22b8cf;
    --cyan-6: #15aabf;
    --cyan-7: #1098ad;
    --cyan-8: #0c8599;
    --cyan-9: #0b7285;
    --cyan-10: #095c6b;
    --cyan-11: #074652;
    --cyan-12: #053038;

    --teal-0: #e6fcf5;
    --teal-1: #c3fae8;
    --teal-2: #96f2d7;
    --teal-3: #63e6be;
    --teal-4: #38d9a9;
    --teal-5: #20c997;
    --teal-6: #12b886;
    --teal-7: #0ca678;
    --teal-8: #099268;
    --teal-9: #087f5b;
    --teal-10: #066649;
    --teal-11: #054d37;
    --teal-12: #033325;

    --green-0: #ebfbee;
    --green-1: #d3f9d8;
    --green-2: #b2f2bb;
    --green-3: #8ce99a;
    --green-4: #69db7c;
    --green-5: #51cf66;
    --green-6: #40c057;
    --green-7: #37b24d;
    --green-8: #2f9e44;
    --green-9: #2b8a3e;
    --green-10: #237032;
    --green-11: #1b5727;
    --green-12: #133d1b;

    --lime-0: #f4fce3;
    --lime-1: #e9fac8;
    --lime-2: #d8f5a2;
    --lime-3: #c0eb75;
    --lime-4: #a9e34b;
    --lime-5: #94d82d;
    --lime-6: #82c91e;
    --lime-7: #74b816;
    --lime-8: #66a80f;
    --lime-9: #5c940d;
    --lime-10: #4c7a0b;
    --lime-11: #3c6109;
    --lime-12: #2c4706;

    --yellow-0: #fff9db;
    --yellow-1: #fff3bf;
    --yellow-2: #ffec99;
    --yellow-3: #ffe066;
    --yellow-4: #ffd43b;
    --yellow-5: #fcc419;
    --yellow-6: #fab005;
    --yellow-7: #f59f00;
    --yellow-8: #f08c00;
    --yellow-9: #e67700;
    --yellow-10: #b35c00;
    --yellow-11: #804200;
    --yellow-12: #663500;

    --orange-0: #fff4e6;
    --orange-1: #ffe8cc;
    --orange-2: #ffd8a8;
    --orange-3: #ffc078;
    --orange-4: #ffa94d;
    --orange-5: #ff922b;
    --orange-6: #fd7e14;
    --orange-7: #f76707;
    --orange-8: #e8590c;
    --orange-9: #d9480f;
    --orange-10: #bf400d;
    --orange-11: #99330b;
    --orange-12: #802b09;

    --choco-0: #fff8dc;
    --choco-1: #fce1bc;
    --choco-2: #f7ca9e;
    --choco-3: #f1b280;
    --choco-4: #e99b62;
    --choco-5: #df8545;
    --choco-6: #d46e25;
    --choco-7: #bd5f1b;
    --choco-8: #a45117;
    --choco-9: #8a4513;
    --choco-10: #703a13;
    --choco-11: #572f12;
    --choco-12: #3d210d;

    --brown-0: #faf4eb;
    --brown-1: #ede0d1;
    --brown-2: #e0cab7;
    --brown-3: #d3b79e;
    --brown-4: #c5a285;
    --brown-5: #b78f6d;
    --brown-6: #a87c56;
    --brown-7: #956b47;
    --brown-8: #825b3a;
    --brown-9: #6f4b2d;
    --brown-10: #5e3a21;
    --brown-11: #4e2b15;
    --brown-12: #422412;

    --sand-0: #f8fafb;
    --sand-1: #e6e4dc;
    --sand-2: #d5cfbd;
    --sand-3: #c2b9a0;
    --sand-4: #aea58c;
    --sand-5: #9a9178;
    --sand-6: #867c65;
    --sand-7: #736a53;
    --sand-8: #5f5746;
    --sand-9: #4b4639;
    --sand-10: #38352d;
    --sand-11: #252521;
    --sand-12: #121210;

    --camo-0: #f9fbe7;
    --camo-1: #e8ed9c;
    --camo-2: #d2df4e;
    --camo-3: #c2ce34;
    --camo-4: #b5bb2e;
    --camo-5: #a7a827;
    --camo-6: #999621;
    --camo-7: #8c851c;
    --camo-8: #7e7416;
    --camo-9: #6d6414;
    --camo-10: #5d5411;
    --camo-11: #4d460e;
    --camo-12: #36300a;

    --jungle-0: #ecfeb0;
    --jungle-1: #def39a;
    --jungle-2: #d0e884;
    --jungle-3: #c2dd6e;
    --jungle-4: #b5d15b;
    --jungle-5: #a8c648;
    --jungle-6: #9bbb36;
    --jungle-7: #8fb024;
    --jungle-8: #84a513;
    --jungle-9: #7a9908;
    --jungle-10: #658006;
    --jungle-11: #516605;
    --jungle-12: #3d4d04;
}

:root {
    /* Colors */
    --fg: var(--gray-12);
    /* Text. */
    --muted-fg: var(--gray-10);
    /* Secondary text color. Will be
		used with a background of --c-bg and --c-bg-2 -- check contrast! */
    --faded-fg: var(--gray-6);
    /* Disabled text color. */
    --graphical-fg: var(--plain-graphical-fg);
    /* Graphical elements. Will not
		be used as a text color. */

    --plain-fg: var(--blue-10);
    --info-fg: var(--blue-11);
    --ok-fg: var(--green-11);
    --bad-fg: var(--red-11);
    --warn-fg: var(--yellow-11);

    --plain-graphical-fg: var(--gray-6);
    --info-graphical-fg: var(--blue-6);
    --ok-graphical-fg: var(--green-6);
    --bad-graphical-fg: var(--red-6);
    --warn-graphical-fg: var(--yellow-6);

    --bg: var(--gray-0);
    /* Page background. */
    --box-bg: var(--plain-bg);
    /* Background for blocks: cards, admonitions etc. */
    --interactive-bg: var(--gray-4);
    /* Background for interactive elements */

    --plain-bg: var(--gray-1);
    --info-bg: var(--blue-1);
    --ok-bg: var(--green-1);
    --bad-bg: var(--red-1);
    --warn-bg: var(--yellow-1);

    --accent: var(--blue-10);
    /* Accent color. Will be used *as a text color* with a
		background of --c-bg and --c-bg-2 -- check contrast! */
    --muted-accent: var(--blue-7);
    /* Muted accent color. Will not be used for text. */

    /* Lengths */
    --rhythm: 1.4rem;
    /* Vertical rhythm, line height. */
    --line-length: 70rem;
    /* Maximum line length for prose. */
    --border-radius: .8rem;

    /* Fonts */
    --main-font: 'Source Sans 3', 'Source Sans Pro', -apple-system, system-ui, sans-serif;
    --secondary-font: var(--main-font);
    /* Headings etc. */
    --mono-font: 'M Plus Code Latin', monospace, monospace;
    /* monospace twice stops browsers from
		shrinking this */

    /* Density */
    --density: 1;

    /* Width */
    --full-width: 100vw;

    /* Do not set these. */
    --eff-line-length:
        /* Effective line length for prose. */
        min(calc(var(--full-width) - (2 * var(--rhythm))),
            var(--line-length));

    --gutter-width:
        /* Width of spaces at each side of page content. */
        calc((var(--full-width)
                /* Viewport width */
                - var(--eff-line-length)
                /* minus line width */
            ) / 2);
    /* Divide by 2: there are two page margins */


    /*Not in te original missing.css system*/

    --border-color: var(--graphical-fg);
}


:root {
    --graphical-fg: rgba(36, 30, 30, 0.219);
    --bg: whitesmoke;
    --fg: #444
}


/*****************Typography****************************/
/* lora-regular - latin_cyrillic_latin-ext_cyrillic-ext */
/*https://allthingssmitty.com/2016/10/03/responsive-table-layout/*/
.decorative-image {
    display: none;
}

header,
footer,
main {
    margin: auto;
}

main {
    width: min(45em, 100vw);
}

@media screen and (max-width: 820px) {
    .desktop-only {
        display: none;
    }
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local('Lora Regular'), local('Lora-Regular'), url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-regular.woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* lora-italic - latin_cyrillic_latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: local('Lora Italic'), local('Lora-Italic'), url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-italic.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* lora-700 - latin_cyrillic_latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: local('Lora Bold'), local('Lora-Bold'), url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-700.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* lora-700italic - latin_cyrillic_latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-700italic.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* b612-regular - latin */
@font-face {
    font-family: 'B612';
    font-style: normal;
    font-weight: 400;
    src: local('B612 Regular'), local('B612Mono-Regular'), url('/static/fonts/b612/b612-v4-latin-regular.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* b612-italic - latin */
@font-face {
    font-family: 'B612';
    font-style: italic;
    font-weight: 400;
    src: local('B612 Italic'), local('B612Mono-Italic'), url('/static/fonts/b612/b612-v4-latin-italic.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* b612-700 - latin */
@font-face {
    font-family: 'B612';
    font-style: normal;
    font-weight: 700;
    src: local('B612 Bold'), local('B612Mono-Bold'), url('/static/fonts/b612/b612-v4-latin-700.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

dd {
    margin-bottom: 1.5em;
}

/* b612-700italic - latin */
@font-face {
    font-family: 'B612';
    font-style: italic;
    font-weight: 700;
    src: local('B612 Bold Italic'), local('B612Mono-BoldItalic'), url('/static/fonts/b612/b612-v4-latin-700italic.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Lato/lato-regular.woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-regular');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Alegreya/AlegreyaSans-Regular.ttf');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

html{
background: var(--bg);
}

body {
    font-family: Lato;
    line-height: 1.6;
    font-size: 18px;
    margin: 0px;
    color: var(--fg);
    --box-bg: rgba(0, 0, 0, 0);
}

h1,
h2,
h3 {
    font-family: Lora;
}

h3 button,
h3 a.button {
    font-size: 100%;
    font-family: Lora;
}

.nonavtopbannercontainer h1 {
    font-size: 100%;
}

.nonavtopbannercontainer div.k-laterality-reminder-left,
.nonavtopbannercontainer div.k-laterality-reminder-right {
    font-size: small;
}

td input,
td select {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    margin: 0px;
    height: 1.8em;
    width: auto;
}

td {
    padding: 1px;
}

button,
a.button,
label,
a,
select {
    font-family: inherit;
}

/*Stack labels on the form elements*/
label>:is(input, select, button, div) {
    display: block;
}

label:has(*) {
    display: inline-block;
}

/********************Behavior****************************/
body {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}

/********************Basic Layout******************************/
h1,
h2,
h3 {
    margin-bottom: 12px;
    margin-top: 28px;
    text-align: center;
}

h2 {
    margin-top: 32px;
}

hr {
    background-color: transparent;
    border: none;
    border-top: 1px solid var(--border-color);
    height: 1px;
}

h2:first-of-type,
h3:first-of-type {
    margin-top: 0px;
}

.navbar {
    max-width: 98vw;
    margin: auto;
}

.navbar div {
    text-align: center;
    font-size: 16px;
    flex-grow: 0.98;
    flex-shrink: 0;
    margin: 2px;
}

.navbar .tool-bar a {
    text-align: center;
}

input[type=checkbox] {
    min-width: 2em;
}

/*This is a paragraph serving a similar funtion to the menu bars at the top of desktop application windows*/
p.menubar,
div.menubar {
    opacity: 90%;
    width: 98%;
}

dialog {
    position: fixed;
    top: 50%;
    bottom: 50%;
    border: 3px solid;
    border-color: var(--border-color);
    z-index: 1000;
}

span,
button {
    color: inherit;
}

/*********************Code editing************************/
@font-face {
    font-family: hack;
    src: url(/static/hack.ttf);
}

.monaco-editor,
.monaco-editor-background {
    background: rgb(250, 255, 244);
    font-family: hack;
}

.event-trigger-edit-box {
    background: rgb(250, 255, 244);
}

/* Line Numbers */
.monaco-editor .line-numbers {
    background-color: rgb(210, 220, 200);
    color: rgb(55, 30, 0) !important;
}

.monaco-editor .current-line:not(.monaco-nohighlight .monaco-editor) {
    background: rgba(150, 200, 120, 0.1) !important;
}

/*This is a paragraph serving a similar funtion to the menu bars at the top of desktop application windows*/
p.menubar div.menubar {
    margin: 2px;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}

/*This div is the container for most of the built in widgets. */
div.widgetcontainer {
    display: inline-block;
}


textarea:disabled {
    background-color: #D0D0D0
}

details {
    margin: 0.4em;
    border: 1px solid var(--border-color);
    padding-left: 0.4em;
    border-radius: var(--border-radius);
}

details.help {
    border: 1px dotted;
}

/*This is a help paragraph usually shown at the top or a sectionbox*/
p.help,
div.help {
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    cursor: help;
    word-wrap: normal;
    max-width: 20em;
    opacity: 40%;
    font-size: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3em;
    width: 3em;
    white-space: nowrap;
    display: inline-block;
}

p.help:hover,
div.help:hover {
    opacity: 100%;
    font-size: 100%;
    max-height: 100em;
    max-width: 50em;
    width: auto;
    height: auto;
    overflow: initial;
    white-space: normal;
    position: absolute;
    background-color: white;
    z-index: 100;
}

td details {
    display: inline-block;
}

/*A link styled to look like a button*/
a.button {
    text-decoration: none;
    border: 1px solid var(--border-color);
    color: #000000;
    padding: 0em 0.2em 0em 0.2em;
    display: inline-block;
}

.tool-bar {
    --tool-bar-element-border: 1px solid var(--border-color);
}

button,
a.tool-bar {
    border-style: solid;
}

summary h2:first-child {
    display: inline;
}

footer>p,
header>p,
header>div,
footer>div {
    margin: 6px;
}

/*****************************General***********************************************************************************/
/*These can be applied to jus about anything for highlighting and emphasis*/
.error,
.danger {
    color: #900000;
    background-color: rgba(255, 200, 0, 0.2);
}

.warning {
    color: #806600;
    background-color: rgba(255, 255, 0, 0.2);
}

/*This is used for /important notifications*/
.highlight {
    color: rgb(0, 50, 0);
    background-color: rgba(100, 150, 50, 0.2);
}

.virtual,
.computed,
.inactive {
    color: rgb(80, 80, 80);
}

/**Basic styling**/
iframe {
    border-style: solid;
    border-width: 1px;
}

/*Tables*/
table {
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    border-collapse: collapse;
    margin: 0.4em;
}

/*This makes tables easier to read by coloring alternate rows differently.*/
table tr:nth-child(odd) td {
    background-color: rgba(255, 255, 255, 0.1);
}

table tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--border-radius);
    ;
    border: none;
}

tbody {
    border-radius: var(--border-radius);
    ;
}

td {
    width: max-content;
}

th {
    width: max-content;
}

table tr th,
table tr td {
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 4px;
}

table tr th:first-child,
table tr td:first-child {
    border-left: 1px solid var(--border-color);
}

table tr th,
table tr:first-child td {
    border-top: 1px solid var(--border-color);
    text-align: left;
}


/* top-left border-radius */

:is(table, thead:first-child, tbody:first-child):first-child>tr:first-child :first-child:is(td, th) {
    border-top-left-radius: var(--border-radius);
    ;
}


/* top-right border-radius */

:is(table, thead:first-child, tbody:first-child)>tr:first-child :last-child:is(td, th) {
    border-top-right-radius: var(--border-radius);
    ;
}


/* bottom-left border-radius */

:is(table, tbody)>tr:last-child :first-child:is(td, th) {
    border-bottom-left-radius: var(--border-radius);
    ;
}


/* bottom-right border-radius */

:is(table, tbody)>tr:last-child :last-child:is(td, th) {
    border-bottom-right-radius: var(--border-radius);
    ;
}


/* A scrollable div */
div.scrollbox {
    border-style: solid;
    border-width: 2px;
    max-height: 10em;
    overflow: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 1%;
    padding-left: 0.5%;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
    min-width: 40%;
}

div.k-laterality-reminder-left,
div.k-laterality-reminder-right {
    color: rgba(0, 0, 0, 0.4);
    flex-grow: 0;
    font-size: 200%;
}

div.k-laterality-reminder-left:hover {
    color: rgba(255, 0, 0, 0.5);
}

div.k-laterality-reminder-right:hover {
    color: rgba(0, 255, 0, 0.5);
}

.error,
.danger {
    text-shadow: 0px 0px 6px rgba(255, 100, 100, 0.9);
}

.warning {
    background-color: rgba(255, 255, 0, 0.6);
}

.highlight {
    background-color: #78dba479 !important;
}

/* Components */

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    box-sizing: border-box;
    overflow-x: auto;
    flex-basis: fit-content;
    flex-grow: 0.1;

    border-color: var(--border-color);
}

/*This handles the old style "section box", but also top level HTML section elements. It's basicattly for independant sections of content.*/
.window {
    border-style: solid;
    border-width: 1px;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    min-width: min-content;
    box-sizing: border-box;
    max-width: 99%;
    overflow: auto;
    border-radius: var(--border-radius);
    border-color: var(--border-color);
    text-align: left;
    flex-grow: 1;
    flex-basis: min-content;
    resize: both;
}



/*Flex rows and cols */
.max-content{
    width: max-content;
    height: min-content;
    flex-basis:max-content;
}
.min-content{
    width: min-content;
    height: min-content;
    flex-basis:min-content;
}


.flex-cols {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-cols>* {
    box-sizing: border-box;
    flex: 1 1 auto;
    flex-basis: fit-content;
}

.flex-cols footer, .flex-cols header{
    flex-grow: 0;
}

.flex-rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:12px;
    align-items: stretch;
    justify-content: space-between;
}


.flex-rows>* {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: fit-content;
    margin: 0px;
}

/*Grid and sizing*/

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    flex-grow: .5;
    flex-basis: unset;
}

.col-1 {
    width: 4.33%;
}

.col-2 {
    width: 12.66%;
}

.col-3 {
    width: 21%;
}

.col-4 {
    width: 29.33%;
}

.col-5 {
    width: 37.66%;
}

.col-6 {
    width: 46%;
}

.col-7 {
    width: 54.33%;
}

.col-8 {
    width: 62.66%;
}

.col-9 {
    width: 71%;
}

.col-10 {
    width: 79.33%;
}

.col-11 {
    width: 87.66%;
}

.col-12 {
    width: 96%;
}

/*Sizes that are relative to approximately the width of a phone screem*/
.w-sm-full{
    width: 8cm;
    max-width: calc(min(11cm, 96vw));
    flex-basis: 11cm;
    flex-shrink: 1;
}

.w-sm-half{
    width: 3.5cm;
    max-width: calc(min(5cm, 48vw));
    flex-basis: 3.5cm;
}

.w-sm-double{
    width: 16cm;
    max-width: calc(min(28cm, 96vw));
    flex-basis: 16cm;
    flex-shrink: 1;
    flex-grow: 1;
}

.w-full {
    width: 100%;
    box-sizing: border-box;
    flex-basis: 100%;
}

.h-full{
    height: 100vh
}

.h-half{
    height: 46vh;
}

.h-quarter{
    height: 22vh;
}

.scroll {
    overflow: auto;
}

.max-h-1rem{
    max-height: 1rem;
}
.max-h-2rem{
    max-height: 2rem;
}
.max-h-4rem{
    max-height: 4rem;
}
.max-h-6rem{
    max-height: 6rem;
}
.max-h-12rem{
    max-height: 12rem;
}
.max-h-24rem{
    max-height: 24rem;
}
.max-h-36rem{
    max-height: 36rem;
}
.max-h-48rem{
    max-height: 48rem;
}
-max-h-60rem{
    max-height: 60rem;
}



.min-h-1rem{
    min-height: 1rem;
}
.min-h-2rem{
    min-height: 2rem;
}
.min-h-4rem{
    min-height: 4rem;
}
.min-h-6rem{
    min-height: 6rem;
}
.min-h-12rem{
    min-height: 12rem;
}
.min-h-24rem{
    min-height: 24rem;
}

.h-1rem{
    height: 1rem;
}
.h-2rem{
    height: 2rem;
}
.h-4rem{
    height: 4rem;
}
.h-6rem{
    height: 6rem;
}
.h-12rem{
    height: 12rem;
}
.h-24rem{
    height: 24rem;
}
.h-36rem{
    height: 36rem;
}
.h-48rem{
    height: 48rem;
}
.h-60rem{
    height: 60rem;
}

.flex-cols>.h-1rem{
    flex-basis: 1rem;
}
.flex-cols>.h-2rem{
    flex-basis: 2rem;
}
.flex-cols>.h-4rem{
    flex-basis: 4rem;
}
.flex-cols>.h-6rem{
    flex-basis: 6rem;
}
.flex-cols>.h-12rem{
    flex-basis: 12rem;
}
.flex-cols>.h-24rem{
    flex-basis: 24rem;
}
.flex-cols>.h-36rem{
    flex-basis: 36rem;
}
.flex-cols>.h-48rem{
    flex-basis: 48rem;
}
.flex-cols>.h-60rem{
    flex-basis: 60rem;
}

/*Simple utilities */

.paper{
    background: var(--box-bg);
}

.v-center {
    margin-top: auto;
    margin-bottom: auto;
}

.h-center {
    margin-left: auto;
    margin-right: auto;
}

.undecorated {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    backdrop-filter: none !important;
}


.nogaps{
    gap: 0px;
}
.nogaps > *{
    margin: 0px;
}

.padding {
    padding: 6px;
}

.nopadding {
    padding: 6px;
}

.nogrow{
    flex-grow: 0 !important;
}

.noshrink{
    flex-grow: 0;
}

.grow{
    flex-grow: 1;
}

.margin {
    margin: 12px;
}

.nomargin {
    margin: 0px;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline.block,
.inline-block {
    display: inline-block;
}

.inline-flex,
.flex-rows.inline,
.flex-cols.inline,
.tool-bar.inline {
    display: inline-flex;
}



.align-left{
    text-align: left;
    justify-content: left;
}

.align-right{
    text-align: right;
    justify-content: right;
}

.align-center{
    text-align: center;
    justify-content: center;
}


header {
    border-radius: 0px 0px inherit inherit;
}

header {
    border-radius: inherit inherit 0px 0px;
}


header,
footer {
    background-color: #d0d0d036;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    flex-grow: 0;
}

header {
    border-bottom: 1px solid var(--border-color);
}

header>*:only-child
{
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    margin: 0px;
}

footer {
    border-top: 1px solid var(--border-color);
}




/* Color elements */

button,
a.button,
input,
textarea,
select {
    background-color: var(--interactive-bg);
}

button,
a,
input,
textarea,
select,
p,
div {
    color: var(--fg);
    border-color: var(--border-color);
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--graphical-fg);
}

table,
tr,
td,
th,
thead {
    border-color: var(--border-color);
}