@import "tool-bar.css";

/* Using a string */

@import "/static/fonts/icofont/icofont.min.css";

/*****************Typography****************************/


/* lora-regular - latin_cyrillic_latin-ext_cyrillic-ext */


/*https://allthingssmitty.com/2016/10/03/responsive-table-layout/*/

.decorative-image{
    display: none;
}

body>footer, body>header, body>main{
    /*Override CSS frameworks*/
    padding: 4px;
}

@media screen and (max-width: 820px) {
    .desktop-only {
        display: none;
    }
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local('Lora Regular'), local('Lora-Regular'), url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-regular.woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}


/* lora-italic - latin_cyrillic_latin-ext_cyrillic-ext */

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: local('Lora Italic'), local('Lora-Italic'), url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-italic.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}


/* lora-700 - latin_cyrillic_latin-ext_cyrillic-ext */

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: local('Lora Bold'), local('Lora-Bold'), url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-700.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}


/* lora-700italic - latin_cyrillic_latin-ext_cyrillic-ext */

@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-700italic.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}


/* b612-regular - latin */

@font-face {
    font-family: 'B612';
    font-style: normal;
    font-weight: 400;
    src: local('B612 Regular'), local('B612Mono-Regular'), url('/static/fonts/b612/b612-v4-latin-regular.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}


/* b612-italic - latin */

@font-face {
    font-family: 'B612';
    font-style: italic;
    font-weight: 400;
    src: local('B612 Italic'), local('B612Mono-Italic'), url('/static/fonts/b612/b612-v4-latin-italic.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}


/* b612-700 - latin */

@font-face {
    font-family: 'B612';
    font-style: normal;
    font-weight: 700;
    src: local('B612 Bold'), local('B612Mono-Bold'), url('/static/fonts/b612/b612-v4-latin-700.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

dd{
    margin-bottom: 1.5em;
}
/* b612-700italic - latin */

@font-face {
    font-family: 'B612';
    font-style: italic;
    font-weight: 700;
    src: local('B612 Bold Italic'), local('B612Mono-BoldItalic'), url('/static/fonts/b612/b612-v4-latin-700italic.woff2') format('woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}


@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Lato/lato-regular.woff2');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-regular');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
    font-family: 'AlegreyaSans';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Alegreya/AlegreyaSans-Regular.ttf');
    /* Chrome 26+, Opera 23+, Firefox 39+ */
}


body {
    font-family: Lato;
    line-height: 1.6;
    font-size: 18px;
    margin: 0px;
    color: #444;
    --box-bg: rgba(0,0,0,0);
}

h1,h2,h3
{
    font-family: Lora;
}

h3 button, h3 a.button
{
    font-size: 100%;
    font-family: Lora;
}
.nonavtopbannercontainer h1 {
    font-size: 100%;
}

.nonavtopbannercontainer div.k-laterality-reminder-left,
.nonavtopbannercontainer div.k-laterality-reminder-right {
    font-size: small;
}



td input,
td select {
    border: 1px solid;
    box-sizing: border-box;
    margin: 0px;
    height: 1.8em;
    width: auto;

}

td {
    padding: 1px;
}


button,
a.button,
label,
a, select
 {
    font-family: inherit;
    padding: 6px;
}


/*Stack labels on the form elements*/
label>:is(input, select, button, div){
    display: block;
}

/********************Behavior****************************/

body {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}


/********************Basic Layout******************************/
h1,
h2,
h3
 {
    margin-bottom: 12px;
    margin-top: 28px;
    text-align: center;

}



h2 {
    margin-top: 32px;
}

hr {
    background-color: transparent;
}


h2:first-of-type,
h3:first-of-type {
    margin-top: 0px;
}

.navbar{
    max-width: 98vw;
    margin: auto;
}
.navbar div {
    text-align: center;
    font-size: 16px;
    flex-grow: 0.98;
    flex-shrink: 0;
    margin: 2px;
}


.navbar .tool-bar a {
    text-align: center;
}

input[type=checkbox] {
    min-width: 2em;
}



/*This is a paragraph serving a similar funtion to the menu bars at the top of desktop application windows*/

p.menubar,
div.menubar {
    opacity: 90%;
    width: 98%;
}

dialog{
position: fixed;
top:50%;
bottom: 50%;
border: 3px solid;
border-color: inherit;
z-index: 1000;
}



span, button{
    color: inherit;
}
/*********************Code editing************************/

@font-face {
    font-family: hack;
    src: url(/static/hack.ttf);
}

.monaco-editor,
.monaco-editor-background {
    background: rgb(250, 255, 244);
    font-family: hack;
}

.event-trigger-edit-box {
    background: rgb(250, 255, 244);
}


/* Line Numbers */

.monaco-editor .line-numbers {
    background-color: rgb(210, 220, 200);
    color: rgb(55, 30, 0) !important;
}

.monaco-editor .current-line:not(.monaco-nohighlight .monaco-editor) {
    background: rgba(150, 200, 120, 0.1) !important;
}


/*This is a paragraph serving a similar funtion to the menu bars at the top of desktop application windows*/

p.menubar div.menubar {
    margin: 2px;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}


/*This div is the container for most of the built in widgets. */

div.widgetcontainer {
    display: inline-block;
    background-color: rgba(70, 90, 70, 0.25);
    padding-top: 0px;
    border-style: solid;
    border-width: 2px;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 22px;
    margin: 2px;
    vertical-align: text-top;
}

input.modulename {
    width: 70%
}

input.pythoncode {
    width: 100%
}


/*A text area meant for describing something*/

textarea.description {
    width: 70%;
}

textarea.pythoncode {
    width: 100%;
    overflow: "scroll";
    font-size: 125%;
}

textarea.htmlcode {
    width: 100%;
    overflow: "scroll";
    font-size: 125%;
}

textarea.code {
    width: 100%;
    overflow: "scroll";
    font-size: 125%;
}

textarea:disabled {
    background-color: #D0D0D0
}


details{
    margin: 0.4em;
    border: 1px solid;
    padding-left: 0.4em;
    border-radius: 0.8em;
    border-color: inherit;
}

details.help{
    border: 1px dotted;
}

/*This is a help paragraph usually shown at the top or a sectionbox*/

p.help,
div.help {
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    cursor: help;
    word-wrap: normal;
    max-width: 20em;
    opacity: 40%;
    font-size: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3em;
    width: 3em;
    white-space: nowrap;
    display: inline-block;
}



p.help:hover,
div.help:hover {
    opacity: 100%;
    font-size: 100%;
    max-height: 100em;
    max-width: 50em;
    width: auto;
    height: auto;
    overflow: initial;
    white-space: normal;
    position: absolute;
    background-color: white;
    z-index: 100;
}



td details{
    display: inline-block;
}
/*A link styled to look like a button*/

a.button {
    border-color: rgba(36, 30, 30, 0.219);
    text-decoration: none;
    border: 1px solid;
    color: #000000;
    padding: 0em 0.2em 0em 0.2em;
    display: inline-block;
}

.tool-bar {
    --tool-bar-element-border: 1px solid rgba(136, 153, 190, 0.733);
}


button, a.tool-bar{
    border-style: solid;
}
summary h2:first-child {
 display: inline;
}

/*****************************General***********************************************************************************/


/*These can be applied to jus about anything for highlighting and emphasis*/

.error,
.danger {
    color: #900000;
    background-color: rgba(255, 200, 0, 0.2);
}

.warning {
    color: #806600;
    background-color: rgba(255, 255, 0, 0.2);
}



/*This is used for /important notifications*/

.highlight {
    color: rgb(0, 50, 0);
    background-color: rgba(100, 150, 50, 0.2);
}

.virtual,
.computed,
.inactive {
    color: rgb(80, 80, 80);
}


/**Basic styling**/



iframe{
    border-style: solid;
    border-width: 1px;
}
/*Tables*/

table {
    border-style: solid;
    border-width: 1px;
    border-color: #00000059;
    border-collapse: collapse;
    margin: 0.4em;
}


/*This makes tables easier to read by coloring alternate rows differently.*/

table tr:nth-child(odd) td {
    background-color: rgba(255, 255, 255, 0.1);
}

table tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.1);
}


/*This handles the old style "section box", but also top level HTML section elements. It's basicattly for independant sections of content.*/

div.sectionbox,
section {
    border-style: solid;
    border-width: 2px;
    padding-top: 0.4em;
    padding-bottom: 0.5%;
    padding-right: 1%;
    padding-left: 0.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    width: min(45em, 100vw);
    min-width: min-content;
    box-sizing: border-box;
    max-width: 96%;
    overflow-x: auto;
}



article {
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    padding-top: 0.4em;
    padding-bottom: 0.5%;
    padding-right: 1%;
    padding-left: 0.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    box-sizing: border-box;
    max-width: 96%;
    overflow-x: auto;
}



div.sectionbox div.sectionbox,
section section,
div.sectionbox section,
section div.sectionbox

{
    border: none;
}


div.card {
    border-style: solid;
    background: var(--box-bg);
    border-width: 1px;
    border-color:  rgba(36, 30, 30, 0.219);;
    border-radius: 15px;
    backdrop-filter: blur(1px);
    padding-top: 0.2%;
    padding-bottom: 0.5%;
    padding-right: 1%;
    padding-left: 0.5%;
}




div.sectionbox.flex-item,
section.flex-item {
    margin: 1.2em;
    flex-grow: 1;
}

div.sectionbox h2,
section h2,
div.sectionbox h3,
section h3 {
    text-align: left;
}


/* A scrollable div */

div.scrollbox {
    border-style: solid;
    border-width: 2px;
    max-height: 10em;
    overflow: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 1%;
    padding-left: 0.5%;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
    min-width: 40%;
}

div.k-laterality-reminder-left,
div.k-laterality-reminder-right {
    color: rgba(0, 0, 0, 0.4);
    flex-grow: 0;
    font-size: 200%;
}

div.k-laterality-reminder-left:hover {
    color: rgba(255, 0, 0, 0.5);
}

div.k-laterality-reminder-right:hover {
    color: rgba(0, 255, 0, 0.5);
}

.error,
.danger {
    text-shadow: 0px 0px 6px rgba(255, 100, 100, 0.9);
}

.warning {
    background-color: rgba(255, 255, 0, 0.6);
}

.highlight{
    background-color: #78dba479 !important;
}
