

@import "kaithem_minimal.css"; /* Using a string */
@import "kaithem_fuge_icons.css"; /* Using a string */

#page {
	background-repeat: round;
	background-image: url("/static/img/webtreats_grunge_mint_2.webp"); 
	background-color:rgb(150,170,100);
  
  }
  
  ::selection {
	  background: rgba(119, 88, 206, 0.431);
	  color:rgb(70, 45, 19);
  }
  
  ::-moz-selection {background: rgba(0, 0, 250, 0.25);}
  

  body{
	  color: #412019;
  }

/*************************Navigation and headers************************************************************/

#nav div
{
	border-width:1px;
	border-style: solid;
	border-color: grey;
	font-size:130%;
	border-radius: 5px;
	background-color: rgba(220,255,200,0.3);
	backdrop-filter: blur(5px);
}

#nav .buttonbar
{
	width: 100%;
	backdrop-filter: blur(2px);
	background-color:rgba(160, 64, 238, 0.1);
}
#nav .buttonbar a
{
	text-align: center;
}
#nav {
	border-style:solid;
	border-width: 1px;
	border-radius:9px;
	border-color: transparent;
	padding:2px;
	background-color: transparent;

}



#topbanner {
  width: 100%;
  background-color: transparent;
  border-radius: 12px;
  margin:1px;
  

}

#topbanner h1
{
	text-shadow:1px 1px 5px rgba(110,130,160,1);
	color:rgba(80,110,80,1);
     margin-bottom: 0.2em;
    margin-top: 0.1em;
    vertical-align:middle;

}

#topbanner h1::before,#topbanner h1::after
{
 background-image: url(/static/img/logo-mini.png);
 background-size: 1em 1em;
 background-repeat: no-repeat;
 width: 1em;
 height: 1em;
 content:"";
 display: inline-block;
 vertical-align:middle;
}

.nonavtopbannercontainer #topbanner h1::before,.nonavtopbannercontainer #topbanner h1::after
{
	background-image: none;
}




/************************HTML ELEMENTS***********************************/
dl
{
	padding:2px;
	margin:2px;
}

dt
{
	margin: 0.2em;
}

li:hover, dt:hover, dt:hover+dd, a.button:hover,button:hover,input:hover, tr:hover, div.widgetcontainer:hover,span.numericpv:hover
{
    background-color:rgba(150, 255, 250, 0.2);
}



p{
	margin:0.5%;
}

hr {
	border: none;
	border-top: 1px solid #bbb;
	height: 1px;
}
h1{color:#2F2418;}


a
	{
		border-radius:5px;
		padding: 1px 3px 1px 3px;
	}


ul{line-height:128%;}


table{
	background-color: rgba(240, 248, 255, 0.116);
	box-shadow: 5px 5px 12px -8px rgba(0,0,0,0.97);
	border-radius: 5px;
}

tr.header
{
	font-weight:bold;
}

th{
	background-color: #0000001a;
}


pre
	{
		margin: 0.2em;
	    background-color: rgba(245,255,230,0.9);
	}
div.kmainpagebody
{
}

/*This handles the old style "section box", but also top level HTML section elements. It's basicattly for independant sections of content.*/
div.sectionbox,section{
	border-style:solid;
	background: rgba(228,233,227,0.6);
	border-width:1px;
	border-radius: 15px;
	backdrop-filter: blur(3px);
	border-color: #00000059;
	padding-top:0.2%;
	padding-bottom:0.5%;
	padding-right:1%;
	padding-left:0.5%;
}

div.sectionbox, section, #nav .buttonbar
{
	box-shadow: 2px 2px 16px -3px rgba(43, 39, 85, 0.92)
}

/* A scrollable div */
div.scrollbox {
	border-style:solid;
	border-width:2px;
	border-radius: 7px;
	max-height:10em;
	overflow:auto;
	padding-top:0.5%;
	padding-bottom:0.5%;
	padding-right:1%;
	padding-left:0.5%;
}

h2,h3{
	color: rgba(83, 26, 12,0.8);
	text-shadow: 2px 2px 7px rgba(217,217,217,0.49);

}

a{
	text-shadow: 0 0 5px rgb(255 255 255)
}

h1 a, h2 a{
	text-shadow: none;
}


button:disabled {background-color: #D0D0D0;border-radius:7px;}

input:disabled {background-color: #D0D0D0;}

input.modulename {width:70%}
input.pythoncode {width:100%}

/*A text area meant for describing something*/
textarea.description {width:70%;}
textarea.pythoncode { width:100%; overflow:"scroll";font-size:125%;}
textarea.htmlcode {width:100%; overflow:"scroll";font-size:125%;}
textarea.code {
	background-color: #E6E6B8;
	 width:100%;
	 overflow:"scroll";
	 font-size:125%;
	 border-radius: 0px;
	 }
textarea:disabled {background-color: #D0D0D0}

/*This is a help paragraph usually shown at the top or a sectionbox*/
p.help{
background-color:rgba(255,255,25,0.1);
}

/*This is a paragraph serving a similar funtion to the menu bars at the top of desktop application windows*/
p.menubar,div.menubar{
background-color:rgba(160, 64, 238, 0.1);
border-radius: 7px;
padding: 2px;
border-width: 3px;
border-color: #D0D0D0;
backdrop-filter: blur(5px);
}


button, a.button, label {
	font-family: Lora;
	text-shadow: 0px 0px 8px rgba(255, 255, 255 0.5);
}

button, a.button, input, textarea, .buttonbar p
{background-color: #d9dee079;border-radius:7px;	color: #1e0c02;
border: 1px solid;
background-image: linear-gradient(175deg,rgba(255, 255, 255, 0.247),rgba(0, 0, 0, 0.151));
border-color: #00000057;
box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.308)
}

.buttonbar a, .buttonbar button, .buttonbar p, .buttonbar a.button{
	border: 1px solid rgba(136, 149, 190, 0.767)
}

/*A link styled to look like a button*/
a.button{
	border-width:1px;
	text-decoration: none;
	border-radius:5px;
	color:#000000;
	padding:0em 0.2em 0em 0.2em;
	display: inline-block;
}

/*A button link while being clicked*/
a.button:active
{
border-style:inset;
}


/* A span meant to look like a pre*/
span.pre
{
    background-color: rgba(255,255,255,0.3);
}

p.pathnav
{
background-color:rgba(140,200,140,0.2);
background-color:rgba(255,25,255,0.1);
border-radius:5px;
margin-bottom:5px;
margin-top:5px;
border-style:solid;
border-width:1px;
border-radius: 7px;
padding:3px;
cursor:help;
}

p.resource-docstring{
color:rgb(55,55,55);
background-color:rgba(255,255,255,0.2);

}

/*Tab panel stuff*/

/*The tab that is actively selected*/
.selected-tab
{
font-size: 135%;
color:black;
border-width: 3px;
}

/*The pane containing the content of a tab*/
tab-panel tab-pane
{
    padding: 0.25em;
    border-style:solid;
    border-width: 1px;
    border-color: grey;
}

/*The div at the top of the panel that contains the tabs you click on. We can select it like this because the only children of tab panels should be tab-pane and this
div*/
tab-panel div
    {
        border-style:solid;
        margin-bottom:  0.4em ;
        border-radius:9px;
        list-style-type:none;
        display: table;
        border-color:grey;
    }

/*one of the tabs in the tab strip. No, I'm not sure what's really going on here. I copied and pasted from the code that does the navigation bar.*/
tab-panel div span
    {
        font-weight: bold;
        padding: 0.05em;
        color: grey;
        display:inline;
        border-width:1px;
        border-style: none solid none none;
        display: table-cell;
        text-align:center;
        border-color: grey;
        cursor: pointer;
    }

/*Widget Styles*/

/*This div is the container for most of the built in widgets. */
div.widgetcontainer
{
	display:inline-block;
	background-color: rgba(70,90,70,0.25);
	padding-top: 0px;
	border-radius:5px;
	border-style:inset;
	border-width:2px;
	color: rgb(0,0,0);
	padding: 0px;
	margin:2px;
	vertical-align:text-top;
	font-family: B612;
}


/*Numeric Process Value. These spans are intended for displays of changing numbers.*/
span.numericpv
{
	background-color: rgba(255,255,200,0.30);
	cursor:crosshair;
	font-family: B612;

}



div.sliderwidget
{
	min-width:3.5em;
	text-align:center;
	font-size:90%;
}

div.meterwidget
{
	text-align:center;
}

button.triggerbuttonwidget
{
	min-height:6em;
}

input.verticalslider
{
	-webkit-appearance: slider-vertical;
     writing-mode: bt-lr;
     height:9.2em;
     width:1em;
     margin: auto 0;
}

input.horizontalslider
{
     height:0.5em;
     width:12em;

}
