:root {
    color-scheme: light dark;
    --red: rgb(255, 0, 119);
    --fg: #cdb8a6;
    --graphical-fg: #1a091a;
    --accent-color: rgb(186 20 151);
    --bg: #49011c;
    --box-bg: #2e2424;
    --padding: 2px;
    --gap: 2px;
    --border-color: #1a091a;
    --border-radius: 0rem;
    --control-border-radius: 0px;
    --control-border-width: 1px;
    --3d-highlight: #9d005f;
    --3d-shadow: #5c3c3c;
    --concave-item-bg: linear-gradient(180deg, var(--3d-shadow) 12%, var(--3d-highlight) 88%);
    --convex-item-bg: linear-gradient(180deg, var(--3d-highlight) 0%, var(--3d-shadow) 96%);
    --convex-item-active-bg: var(--concave-item-bg);
    --concave-item-box-shadow: inset 0px 0px 4px 2px #171616bf;
    --control-bg: #7c093b;
    --alt-control-bg: #482155;
    --control-fg: #cdb8a6;
}