:root {
    color-scheme: light dark;
    --red: rgb(255, 0, 119);
    --fg: #8a7a91;
    --graphical-fg: #7b6c88;
    --accent-color: rgb(98 83 128);
    --bg: #310917;
    --box-bg: #2e2424;
    --highlight-opacity: 25%;
    --main-font: sans-serif;
    --padding: 6px;
    --gap: 10px;
    --border-color: #1a091a;
    --border-radius: 0rem;
    --border-width: 1px;
    --control-height: 28px;
    --control-border-radius: 0px;
    --control-border-width: 1px;
    --3d-highlight: #741238;
    --3d-shadow: #491e1e;
    --concave-item-bg: linear-gradient(180deg, var(--3d-shadow) 12%, var(--3d-highlight) 88%);
    --convex-item-bg: linear-gradient(180deg, var(--3d-highlight) 0%, var(--3d-shadow) 96%);
    --convex-item-active-bg: var(--concave-item-bg);
    --concave-item-box-shadow: inset 0px 0px 4px 2px #3838381f;
    --control-bg: #46243e;
    --control-fg: #8a7a91;
    --highlight-color: rgb(219 120 144);
    --success-color: var(--green);
    --warning-color: var(--yellow);
    --danger-color: var(--red);
    --success-fg: color-mix(in srgb, var(--success-color) 60%, var(--fg));
    --warning-fg: color-mix(in srgb, var(--warning-color) 40%, var(--fg));
    --danger-fg: color-mix(in srgb, var(--danger-color) 70%, var(--fg));
    --control-border-color: #0c081b;
    --thin-border: 1px solid var(--border-color);
}