:root {
    color-scheme: light dark;
    --red: rgb(255, 0, 119);
    --fg: #cfa37f;
    --graphical-fg: #1a091a;
    --accent-color: rgb(174 68 68);
    --bg: #49011c;
    --box-bg: #2e2424;
    --highlight-opacity: 25%;
    --padding: 2px;
    --gap: 2px;
    --border-color: #1a091a;
    --border-radius: 0rem;
    --border-width: 1px;
    --control-height: 28px;
    --control-border-radius: 0px;
    --control-border-width: 1px;
    --3d-highlight: #9d0092;
    --3d-shadow: #5c3c3c;
    --concave-item-bg: linear-gradient(180deg, var(--3d-shadow) 12%, var(--3d-highlight) 88%);
    --convex-item-bg: linear-gradient(180deg, var(--3d-highlight) 0%, var(--3d-shadow) 96%);
    --convex-item-active-bg: var(--concave-item-bg);
    --concave-item-box-shadow: inset 0px 0px 4px 2px #3838381f;
    --control-bg: #560049;
    --alt-control-bg: #482155;
    --control-fg: #ba9c7f;
    --highlight-color: var(--teal);
    --success-color: var(--green);
    --warning-color: var(--yellow);
    --danger-color: var(--red);
    --success-fg: color-mix(in srgb, var(--success-color) 60%, var(--fg));
    --warning-fg: color-mix(in srgb, var(--warning-color) 40%, var(--fg));
    --danger-fg: color-mix(in srgb, var(--danger-color) 70%, var(--fg));
    --control-border-color: color-mix(in srgb, var(--graphical-fg) 35%, rgb(0 0 0 / 0%));
    --thin-border: 1px solid var(--border-color);
}