*.py[co] 
.mypy_cache/*
kaithem/var/
! kaithem/var/modules/data/Examples
build/**
kaithem.egg-info*
dist/**
out/**
**.snap
# This is for when building under nix
result/**
**/.directory
.venv/**

poetry.toml
