aioesphomeapi==18.0.6
annotated-types==0.6.0
astral==3.2
async-timeout==4.0.3
attr==0.3.2
attrs==23.1.0
autocommand==2.2.2
blinker==1.6.3
chacha20poly1305-reuseable==0.10.1
cheroot==10.0.0
CherryPy==18.8.0
click==8.1.7
click-datetime==0.2
coloredlogs==15.0.1
colorzero==2.0
cryptography==41.0.4
evdev==1.6.1
Flask==3.0.0
flatbuffers==23.5.26
gpiozero==2.0
holidays==0.35
humanfriendly==10.0
inflect==7.0.0
isodate==0.6.1
itsdangerous==2.1.2
jaraco.collections==4.3.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
Jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
markdownify==0.11.6
MarkupSafe==2.1.3
noiseprotocol==0.3.1
ntplib==0.4.0
numpy==1.26.1
onnxruntime==1.16.1
passlib==1.7.4
Pint==0.22
piper-phonemize==1.1.0
piper-tts==1.2.0
portend==3.2.0
protobuf==4.24.4
pydantic==2.4.2
pydantic_core==2.10.1
pyflakes==3.1.0
pyHS100==0.3.5.2
python-magic==0.4.27
python-mpv-jsonipc==1.2.0
referencing==0.30.2
requests-file==1.5.1
rpds-py==0.10.6
simpleeval==0.9.13
TatSu==5.8.3
tempora==5.5.0
textdistance==4.6.0
tflite-runtime==2.14.0
tinytag==1.10.0
typeguard==4.1.5
typing_extensions==4.8.0
upnpclient==1.0.3
vignette==5.1.1
Werkzeug==3.0.0
Wikipedia-API==0.6.0
yeelight==0.7.13
zc.lockfile==3.0.post1
zeep==4.2.1
