---
allow-origins: ['*']
allow-xss: false
auto-reload: false
auto-reload-interval: 5.0
mimetype: text/html
no-header: false
no-navheader: false
require-method: [GET, POST]
require-permissions: [users.nvr.view]
resource-timestamp: 1645436671633340
resource-type: page
template-engine: mako

---
<%!
#Code Here runs once when page is first rendered. Good place for import statements.
import json
%>

    <%
__doc__= "#Python Code here runs every page load"
%>

        <style>
      iframe{
        width: 100%;
        height: 70vh;
      }
        </style>

        <script src="/static/js/vue3.js"></script>

        <h2><i class="icofont-castle"></i>Beholder NVR</h2>
        <title>Beholder NVR</title>

            <div id="app" class="sectionbox">
              <datalist id="cameras">
                  <option v-for="v,i of cameraUrls">{{i}}</option>
              </datalist>


              <div class="buttonbar" style="width:100%">
                <button v-on:click="tab='playback'" :class="{'highlight': tab=='playback'}"><i class="icofont-files-stack"></i>Recordings</button>
                <button v-on:click="tab='cameras'" :class="{'highlight': tab=='cameras'}"><i class="icofont-cc-camera"></i>Cameras</button>
                <button v-on:click="tab='multiview'" :class="{'highlight': tab=='multiview'}"><i class="icofont-table"></i>Wall Builder</button>

                <button v-on:click="goFS()"><i class="icofont-expand"></i>Fullscreen</button>

              </div>
              <div style="display: flex; flex-wrap: wrap;">
                <div v-if="tab=='multiview'"  style="">

                  <div class="buttonbar" style="width:100%">
                  
                    <button v-on:click="goFSWall()"><i class="icofont-expand"></i>Fullscreen</button>

                  </div>

                  <div style="display: flex; flex-wrap: wrap;">
                    <div style="max-height: 25em; overflow: scroll">

                      <table>
                        <tr>
                          <th>View Slots</th>
                        </tr>

                        <tr v-for="v,i in viewSlots">
                          <td><input v-model="viewSlots[i]"></td>
                        </tr>

                      </table>

                      <h4>Link to this wall</h4>
                      <a :href="'?viewslots='+encodeURIComponent(JSON.stringify(viewSlots))">Wall</a>

                    </div>
                    
                    <div  id="videowall" style="display: flex; flex-wrap: wrap;min-height:80vh;">
                    <template v-for="v,i in viewSlots">
                    <div v-if="viewSlots[i]" style="min-width:49%; max-width:99%; max-height:49%; flex-grow: 2; background-color: black;">
                        <iframe :src="viewSlots[i]" style="overflow: auto; width: 100%; height:100%;">
                        </iframe>
                    </div> 
                    </template>
                    </div>
                  </div>
                </div>




                <div v-if="tab=='cameras'"  style="display: flex; flex-wrap: wrap;">
                    <div style="max-height: 25em; overflow: scroll">
                      <ul>
                          <li v-for="v,i of cameraUrls"><a v-on:click="setRTPlayback(cameraUrls[i])">{{i}}</a></li>
                      </ul>

                      <table>
                        <tr>
                          <td>Enable Effects</td>
                          <td><input type="checkbox" v-model="rtplayerFX"></td>
                        </tr>
                        <tr>
                          <td>CRT</td>
                          <td><input type="checkbox" v-model="rtplayerCRT"></td>
                        </tr>
                        <tr>
                          <td>Film Grain</td>
                          <td><input type="checkbox" v-model="rtplayerFilm"></td>
                        </tr>
                        <tr>
                          <td>Blur</td>
                          <td><input type="number" v-model="rtplayerBlur"></td>
                        </tr>
                        <tr>
                          <td>Water Reflection</td>
                          <td><input type="number" step="0.1" v-model="rtplayerWater"></td>
                        </tr>
                      </table>
                      
                      <h3>Embeddable Viewer Code for wall builder</h3>
                  
                      <p class="help">Copy and paste this into a wall builder slot</p>
                        <pre>{{makeFullRtPlaybackUrl() }}</pre>

                      <h3>Fullscreen Link</h3>
                      <p><a :href="makeFullRtPlaybackUrl()+'&fs=1'">Link</a></p>
                  
                    </div>

                    <div style="min-width:30vw; flex-grow: 2; background-color: black;" v-if="rtPlaybackUrl">

                        <iframe :src="makeFullRtPlaybackUrl()+'&controls=1'" id="playback-iframe" style="overflow: auto">
                        </iframe>
                  
                    </div> 
                </div>



                <div v-if="tab=='playback'"  style="display: flex; flex-wrap: wrap;">
                  <div>
                  <div class="buttonbar">
                        <p>Starting:</p><input v-model="searchtime" type="date">
                        <input v-model="searchcam" list="cameras" value="" placeholder="All Cameras">
                        <button v-on:click="getFiles(searchcam, searchtime)"><i class="icofont-binoculars"></i>Search</button>
                  </div>
                    <div style="min-width:12vw; max-height: 25em; overflow-y: scroll;">
                      <ul>
                          <li v-for="i,v of fileSet"><a v-on:click="setPlayback('player/'+i[1]+'/playlist.m3u8')">{{new Date(Date.parse(i[0])).toLocaleString()}} @ {{i[2]}}</a></li>
                      </ul>
                    </div>
                  </div>

                <div style="min-width:30vw; flex-grow: 2;">

                    <iframe :src="playbackURL" scrolling="no" id="playback-iframe" style="overflow: auto">
                    </iframe>
                  
                </div>
                </div>
              </div>

            </div>




        <script>
            appData=
  {
        message: 'Hello Vue!',
        tab: "${'multiview' if 'viewslots' in kwargs else 'playback'}",
        
        searchcam:'',
        searchtime: '1999-01-01',
        fileSet: [],
        playbackURL: '',
        rtPlaybackUrl: '',
        viewSlots: ${kwargs.get('viewslots',['','','',''])},
        rtplayerAnime: false,
        rtplayerFilm:false,
        rtplayerCRT:false,
        rtplayerBlur:0,
        rtplayerFX:0,
        rtplayerWater:0,

        makeFullRtPlaybackUrl : function()
        {
          return appData.rtPlaybackUrl + (appData.rtplayerFX?'&fx=1':'') +(appData.rtplayerCRT?'&crt=1':'') + (appData.rtplayerFilm?'&film=1':'')+"&blur="+appData.rtplayerBlur+"&waterreflection="+appData.rtplayerWater
        },

        goFS : function(){
            document.getElementById("app").requestFullscreen()
        },

      

        goFSWall : function(){
            document.getElementById("videowall").requestFullscreen()
        },


        setPlayback: function(x){
          app.playbackURL=x
        },


        setRTPlayback: function(x){
          app.rtPlaybackUrl=x
          app.tab='cameras'
        },

        getFiles: function(filter, date){

          var sp =  new URLSearchParams({
                filter: app.searchcam,
                starttime: app.searchtime,
            })
          fetch('filesearch?'+sp)
          .then(function(r){
            r.json().then(
              function(r){
                app.fileSet = r
              }
            )
          })
        },

        cameraUrls:{
          %for i in kaithem.devices:
          %if kaithem.devices[i].deviceTypeName =='NVRChannel':
          '${i}': "rtplayer?play=${i|u}",
          %endif
          %endfor
          "None": ''
        }



      }


  app= Vue.createApp({
    data() {
      return appData
    }
  }).mount('#app')

        </script>