---
allow-origins: ['*']
allow-xss: false
auto-reload: false
auto-reload-interval: 5.0
mimetype: text/html
no-header: false
no-navheader: false
require-method: [GET, POST]
require-permissions: []
resource-timestamp: 1645233825053903
resource-type: page
template-engine: mako

---
<%!
#Code Here runs once when page is first rendered. Good place for import statements.
%>

    <%
__doc__= "#Python Code here runs every page load"
%>

        <style>
      iframe{
        width: 100%;
        height: 70vh;
      }
        </style>

        <script src="/static/js/vue3.js"></script>

        <h2><i class="icofont-castle"></i>Beholder NVR</h2>
        <title>Beholder NVR</title>

        <div class="sectionbox">
            <div id="app">


                <div>

                    <iframe :src="playbackURL" scrolling="no" id="playback-iframe">
                    </iframe>

                    <ul>
                        <li v-for="i,v of fileSet">{{i[1]}} @ {{i[2]}}<button v-on:click="setPlayback('player/'+i[0]+'/playlist.m3u8')">Play</button></li>
                    </ul>

                    <div class="buttonbar">
                        <p>Starting:</p><input v-model="searchtime" type="date">
                        <p>Filter:</p><input v-model="searchcam" value="" placeholder="All Cameras">
                        <button v-on:click="getFiles(searchcam, searchtime)">Search</button>
                    </div>
                </div>

            </div>
        </div>




        <script>
            appData=
  {
        message: 'Hello Vue!',

        searchcam:'',
        searchtime: '1999-01-01',
        fileSet: [],
        playbackURL: '',
        setPlayback: function(x){
          app.playbackURL=x
        },

        getFiles: function(filter, date){

          var sp =  new URLSearchParams({
                filter: app.searchcam,
                starttime: app.searchtime,
            })
          fetch('filesearch?'+sp)
          .then(function(r){
            r.json().then(
              function(r){
                app.fileSet = r
              }
            )
          })
        }
      }


  app= Vue.createApp({
    data() {
      return appData
    }
  }).mount('#app')

        </script>