/*****************Typography****************************/

/* lora-regular - latin_cyrillic_latin-ext_cyrillic-ext */
@font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	src: local('Lora Regular'), local('Lora-Regular'),
		 url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-regular.woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
  /* lora-italic - latin_cyrillic_latin-ext_cyrillic-ext */
  @font-face {
	font-family: 'Lora';
	font-style: italic;
	font-weight: 400;
	src: local('Lora Italic'), local('Lora-Italic'),
		 url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
  /* lora-700 - latin_cyrillic_latin-ext_cyrillic-ext */
  @font-face {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	src: local('Lora Bold'), local('Lora-Bold'),
		 url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-700.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
  /* lora-700italic - latin_cyrillic_latin-ext_cyrillic-ext */
  @font-face {
	font-family: 'Lora';
	font-style: italic;
	font-weight: 700;
	src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
		 url('/static/fonts/lora/lora-v14-latin_cyrillic_latin-ext_cyrillic-ext-700italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }

/* b612-regular - latin */
@font-face {
	font-family: 'B612';
	font-style: normal;
	font-weight: 400;
	src: local('B612 Regular'), local('B612Mono-Regular'),
		 url('/static/fonts/b612/b612-v4-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
  /* b612-italic - latin */
  @font-face {
	font-family: 'B612';
	font-style: italic;
	font-weight: 400;
	src: local('B612 Italic'), local('B612Mono-Italic'),
		 url('/static/fonts/b612/b612-v4-latin-italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
  /* b612-700 - latin */
  @font-face {
	font-family: 'B612';
	font-style: normal;
	font-weight: 700;
	src: local('B612 Bold'), local('B612Mono-Bold'),
		 url('/static/fonts/b612/b612-v4-latin-700.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }
  /* b612-700italic - latin */
  @font-face {
	font-family: 'B612';
	font-style: italic;
	font-weight: 700;
	src: local('B612 Bold Italic'), local('B612Mono-BoldItalic'),
		 url('/static/fonts/b612/b612-v4-latin-700italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  }

  body{
	  font-family: Lora;
  }

button,a.button,label
{
	font-family: 'B612';
	text-shadow: 0px 0px 8px rgba(255, 255, 255 0.5);

}



/********************Behavior****************************/
body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

/*********************Code editing************************/

@font-face {
    font-family: hack;
    src: url(/static/hack.ttf);
}


.monaco-editor, .monaco-editor-background {
	background: rgb(250,255,244);
	font-family: hack;
}

.event-trigger-edit-box
{
	background: rgb(250,255,244);
}
/* Line Numbers */
.monaco-editor .line-numbers {
	background-color:rgb(210,220,200);
	color: rgb(55,30,0) !important;
}

.monaco-editor .current-line:not(.monaco-nohighlight .monaco-editor) {
	background: rgba(150, 200, 120, 0.1)  !important;
}

pre, pre.error, pre.warning, pre.danger
{
	font-family: hack;
}
/*****************************General***********************************************************************************/
#page {
  background-repeat: repeat;
  background-image: url("/static/img/webtreats_minty_green_pattern_08.jpg");  -webkit-background-size: 100% auto;
  background-color:rgb(150,170,100);

}

::selection {
	background: rgba(140, 180, 140, 0.5);
	color:rgb(70, 45, 19);
}

::-moz-selection {background: rgba(0, 0, 250, 0.25);}

/*These can be applied to jus about anything for highlighting and emphasis*/
.error, .danger
{
	color: 	#900000;
    background-color: rgba(255,200,0,0.2);
		text-shadow: 0px 0px 6px rgba(255, 100, 100, 0.9);
	font-family: "B612";

}
.warning
{
	color: 	#806600;
	background-color: rgba(255,255,0,0.2);
	font-family: "B612";

}
.specialentry
{
	color:rgba(50, 70, 100, 1);
	text-shadow: 0px 0px 8px rgba(50, 70, 255, 1);
}
/*This is used for /important notifications*/
.highlight
{
color: rgb(0, 50, 0);
background-color: rgba(100,150,50,0.2);
text-shadow: rgb(120, 255, 100) 0px 0px 10px;
}

.virtual, .computed, .inactive
{
    color:rgb(80,80,80);
}
/*************************Navigation and headers************************************************************/

#nav li
{
	display:inline;
	border-width:1px;
	border-style: none solid none none;
    display: table-cell;
    text-align:center;
    border-color: grey;
    font-size:125%;
}
#nav {
	border-style:solid;
	background: rgba(255, 255, 230, 0.25);
	border-width: 2px;
	margin-top: 1px;
    margin-bottom: 0.3em;
    margin-left: auto;
    margin-right: auto;
	width:100%;
	border-radius:9px;
	list-style-type:none;
	display: table;
	border-color:grey;
	padding:2px;
}
#nav li:last-child
{
	display:inline;
	border-style: none ;
    display: table-cell;

}
nav.li:hover
{
	background-color:#E6F6B8;
}


#topbanner {
  width: 100%;
  background: rgba(255, 255, 230, 0.25);
  border-radius: 12px;
  margin:1px;
  background-image: linear-gradient(bottom, rgb(119,232,109) 20%, rgb(222,104,210) 51%, rgb(190,255,69) 96%);

}

#topbanner h1
{
	text-shadow:1px 1px 5px rgba(110,130,160,1);
	color:rgba(80,110,80,1);
     margin-bottom: 0.2em;
    margin-top: 0.1em;
    vertical-align:middle;

}

/*These just add icons to links*/
#topbanner h1::before,#topbanner h1::after
{
 background-image: url(/static/img/logo-mini.png);
 background-size: 1.5em 1.5em;
 background-repeat: no-repeat;
 display: inline-block;
 width: 1.5em;
 height: 1.5em;
 content:"";
 vertical-align:middle;
}

/************************HTML ELEMENTS***********************************/
dl
{
	padding:2px;
	margin:2px;
}

dt
{
	margin: 0.2em;
}

li:hover
{
    background-color:rgba(230, 255, 150, 0.2);
}

dt:hover
{
    background-color:rgba(230, 255, 150, 0.2);
}

dt:hover+dd
{
    background-color:rgba(230, 255, 150, 0.2);
}


p{
	margin:0.5%;
}

hr {
	border: none;
	border-top: 1px solid #bbb;
	background-color: #ddd; color: #ddd;
	height: 1px;
}
h1{color:#2F2418;}
h2{margin-top:0.3em;margin-bottom: 0.3em}
h3{margin-top:0.3em;margin-bottom: 0.3em}
h4{margin-top:0.3em; margin-bottom: 0.3em}
h5{margin:8px;}

a
	{
		background-color:rgba(255,255,255,0.2);
		border-radius:5px;
		padding: 1px 3px 1px 3px;
	}
a:hover
	{
		background-color:#E6F6B8;
	}

ul{line-height:128%;}

tr.header
{
	font-weight:bold;
}

/*Tables*/
table
	{
		border-style: solid;
		border-width:3px;
		border-collapse:collapse;
	}

/*This makes tables easier to read by coloring alternate rows differently.*/
table tr:nth-child(odd) td
	{
		background-color: rgba(255,255,255,0.1);
	}
table tr:nth-child(even) td
	{
		background-color: rgba(0,0,0,0.1);
	}

/*And also we highlight the row you hover on*/
tr:hover
	{
		/*background-color: rgba(70,170,70,0.35);*/
		background-color: rgba(120,190,120,0.45);
	}

pre
	{
		margin: 0.2em;
	    background-color: rgba(255,255,255,0.3);
	}

div.kmainpagebody
{
}

/*This handles the old style "section box", but also top level HTML section elements. It's basicattly for independant sections of content.*/
div.sectionbox,section{
	border-style:solid;
	background: rgba(235, 230, 210, 0.67);
	border-width:2px;
	border-radius: 7px;
	padding-top:0.2%;
	padding-bottom:0.5%;
	padding-right:1%;
	padding-left:0.5%;
	margin:2px;
}

/* A scrollable div */
div.scrollbox {
	border-style:solid;
	border-width:2px;
	border-radius: 7px;
	max-height:10em;
	overflow:auto;
	padding-top:0.5%;
	padding-bottom:0.5%;
	padding-right:1%;
	padding-left:0.5%;
	margin:3px;
}



button {background-color: #E6E6B8;border-radius:7px;}
button:disabled {background-color: #D0D0D0;border-radius:7px;}

input {background-color: #E6E6B8;border-radius:7px;}
input:disabled {background-color: #D0D0D0;}

input.modulename {width:70%}
input.pythoncode {width:100%}

textarea{background-color: #E6E6B8;}
/*A text area meant for describing something*/
textarea.description {width:70%;}
textarea.pythoncode { width:100%; overflow:"scroll";font-size:125%;}
textarea.htmlcode {width:100%; overflow:"scroll";font-size:125%;}
textarea.code {
	background-color: #E6E6B8;
	 width:100%;
	 overflow:"scroll";
	 font-size:125%;
	 }
textarea:disabled {background-color: #D0D0D0}

/*This is a help paragraph usually shown at the top or a sectionbox*/
p.help{
background-color:rgba(255,255,25,0.1);
border-radius:5px;
margin-bottom:5px;
margin-top:5px;
border-style:solid;
border-width:1px;
border-radius: 7px;
padding:3px;
cursor:help;
}

/*This is a paragraph serving a similar funtion to the menu bars at the top of desktop application windows*/
p.menubar div.menubar{
background-color:rgba(255,25,255,0.1);
border-radius:5px;
margin:2px;
border-style:solid;
border-width:1px;
border-radius: 7px;
padding:4px;
}

/*A link styled to look like a button*/
a.button{
background-color: #E6E6B8;
border-color:#E6E6B8;
border-width:2px;
text-decoration: none;
border-radius:5px;
border-style:outset;
color:#000000;
padding:0em 0.2em 0em 0.2em;
display: inline-block;
}

/*A button link while being clicked*/
a.button:active
{
border-style:inset;
}

a.button:hover
{
background-color:#E6F6B8;
}

/* A real button being hovered on*/
button:hover
{
background-color:#E6F6B8;
}

input:hover{
background-color:#E6F6B8;
}

/* A span meant to look like a pre*/
span.pre
{
    background-color: rgba(255,255,255,0.3);
}

p.pathnav
{
background-color:rgba(140,200,140,0.2);
background-color:rgba(255,25,255,0.1);
border-radius:5px;
margin-bottom:5px;
margin-top:5px;
border-style:solid;
border-width:1px;
border-radius: 7px;
padding:3px;
cursor:help;
}
w
p.resource-docstring{
color:rgb(55,55,55);
background-color:rgba(255,255,255,0.2);

}

/*Tab panel stuff*/

/*The tab that is actively selected*/
.selected-tab
{
font-size: 135%;
color:black;
border-width: 3px;
}

/*The pane containing the content of a tab*/
tab-panel tab-pane
{
    padding: 0.25em;
    border-style:solid;
    border-width: 1px;
    border-color: grey;
}

/*The div at the top of the panel that contains the tabs you click on. We can select it like this because the only children of tab panels should be tab-pane and this
div*/
tab-panel div
    {
        border-style:solid;
        margin-bottom:  0.4em ;
        border-radius:9px;
        list-style-type:none;
        display: table;
        border-color:grey;
    }

/*one of the tabs in the tab strip. No, I'm not sure what's really going on here. I copied and pasted from the code that does the navigation bar.*/
tab-panel div span
    {
        font-weight: bold;
        padding: 0.05em;
        color: grey;
        display:inline;
        border-width:1px;
        border-style: none solid none none;
        display: table-cell;
        text-align:center;
        border-color: grey;
        cursor: pointer;
    }

/*Widget Styles*/

/*This div is the container for most of the built in widgets. */
div.widgetcontainer
{
	display:inline-block;
	background-color: rgba(70,90,70,0.25);
	padding-top: 0px;
	border-radius:5px;
	border-style:inset;
	border-width:2px;
	color: rgb(0,0,0);
	padding: 0px;
	margin:2px;
	vertical-align:text-top;
	font-family: B612;
}

div.widgetcontainer:hover
{
	/*background-color: rgba(70,170,70,0.35);*/
	background-color: rgba(120,190,120,0.45);
}

/*Numeric Process Value. These spans are intended for displays of changing numbers.*/
span.numericpv
{
	background-color: rgba(255,255,200,0.30);
	cursor:crosshair;
	font-family: B612;

}
span.numericpv:hover
{
	background-color: rgba(230,255,200,0.50);
	cursor:crosshair;
}


div.sliderwidget
{
	min-width:3.5em;
	text-align:center;
	font-size:90%;
}

div.meterwidget
{
	text-align:center;
}

button.triggerbuttonwidget
{
	min-height:6em;
}

input.verticalslider
{
	-webkit-appearance: slider-vertical;
     writing-mode: bt-lr;
     height:9.2em;
     width:1em;
     margin: auto 0;
}

input.horizontalslider
{
     height:0.5em;
     width:12em;

}


/*These just add icons to links*/
.createbutton::before
{
 content: url(/static/img/icons/silk/add.png);
}
.editbutton::before
{
content: url(/static/img/icons/silk/pencil.png);
}

.gobutton::before
{
content: url(/static/img/icons/silk/arrow_right.png);
}

.playbutton::before
{
content: url(/static/img/icons/silk/control_play.png);
}

.deletebutton::before
{
 content: url(/static/img/icons/silk/cross.png);
}

a.settingslink::before
{
 content: url(/static/img/icons/silk/cog.png);
}

a.helplink::before
{
 content: url(/static/img/icons/silk/book_open.png);
}

a.loginlink::before
{
 content: url(/static/img/icons/silk/key.png);
}

/* These spans are mostly just used to put things before*/
span.page-icon::before
{
 content: url(/static/img/icons/silk/page.png);
}

span.permission-icon::before
{
 content: url(/static/img/icons/silk/key.png);
}

span.event-icon::before
{
 content: url(/static/img/icons/silk/script.png);
}

span.directory-icon::before
{
 content: url(/static/img/icons/silk/folder.png);
}

span.settings-icon::before
{
 content: url(/static/img/icons/silk/cog.png);
}

span.sqprog-icon::before
{
	content: url(/zipstatic/img/icons/fugue.zip/monitor-network.png);
}
a.modules-library-link::before
{
  content: url(/static/img/icons/silk/lorry.png);
}


a.moduleslink::before
{
	content: url(/zipstatic/img/icons/fugue.zip/blue-folder-tree.png);
}

a.deviceslink::before
{
	content: url(/zipstatic/img/icons/fugue.zip/switch-network.png);
}
a.upload-module-button::before
{
  content: url(/static/img/icons/silk/arrow_up.png);
}

a.pageslink::before
{
  content: url(/static/img/icons/silk/page_white_stack.png);
}

/*
	color:rgba(36, 31, 100, 1);
	text-shadow: 0px 0px 8px rgba(36, 31, 255, 1);
*/
/*background-color:rgba(255,150,150,0.33);*/
/*a:link {background-color:#80FF80;}    /* unvisited link */
/*a:hover {background-color:#0066FF;}   /* mouse over link */
