table{
border-style: solid;
border-width:3px;
border-collapse:collapse;
}

#topbanner {  
  width: 100%;
  background: rgba(255, 255, 230, 0.25);
  border-radius: 12px;
  margin:5px;
  background-image: linear-gradient(bottom, rgb(119,232,109) 20%, rgb(222,104,210) 51%, rgb(190,255,69) 96%);
}

#page {  
  background-repeat: repeat;  
  background-image: url("/static/img/webtreats_minty_green_pattern_08.jpg");  -webkit-background-size: 100% auto;
  background-color:rgb(150,170,100);

}

/*a:link {background-color:#80FF80;}    /* unvisited link */
/*a:hover {background-color:#0066FF;}   /* mouse over link */
div.sectionbox {border-style:solid; 
background: rgba(240, 230, 200, 0.5);
border-width:2px;
border-radius: 7px;

padding-top:0.5%;
padding-bottom:0.5%;
padding-right:1%;
padding-left:0.5%;
margin:3px;
}

div.scrollbox {
border-style:solid; 

border-width:2px;
border-radius: 7px;
max-height:6em;
overflow:auto;
padding-top:0.5%;
padding-bottom:0.5%;
padding-right:1%;
padding-left:0.5%;
margin:3px;
}

p{
margin:0.5%;
}

#nav {
border-style:solid; 
background: rgba(255, 255, 230, 0.25);
border-width: 2px;
border-radius:7px;
}

#nav tr{
border-style:solid;

}


#nav td{
border-style:none solid none solid; 
text-align: center;
border-color: grey;
font-size:125%;
}

input {background-color: #E6E6B8;border-radius:7px;}
input.modulename {width:70%}
input.pythoncode {width:100%}
textarea.description {background-color: #E6E6B8;width:70%;}
textarea.pythoncode {background-color: #E6E6B8; width:100%; overflow:"scroll";font-size:125%;}
textarea.htmlcode {background-color: #E6E6B8; width:100%; overflow:"scroll";font-size:125%;}
textarea.code {background-color: #E6E6B8; width:100%; overflow:"scroll";font-size:125%;}
hr {
border: none;
border-top: 1px solid #bbb;
background-color: #ddd; color: #ddd;
height: 1px;
}

h3{margin-top:0.5em;}
h3{margin-top:0.3em;margin-bottom: 0.3em}
h4{margin-top:0.3em; margin-bottom: 0.3em}
h5{margin:8px;}

a{
background-color:rgba(255,255,255,0.2); 
border-radius:5px;
padding: 1px 3px 1px 3px;
}
/*background-color:rgba(255,150,150,0.33);*/
a:hover{background-color:#E6F6B8;}
ul{line-height:128%;}

p.help{
background-color:rgba(255,255,25,0.1); 
border-radius:5px;
margin-bottom:5px;
margin-top:5px;
border-style:solid; 
border-width:1px;
border-radius: 7px;
padding:3px;

}

p.menubar{
background-color:rgba(255,25,255,0.1); 
border-radius:5px;
margin:2px;
border-style:solid; 
border-width:1px;
border-radius: 7px;
padding:4px;
}

a.button{
background-color: #E6E6B8;
border-color:#E6E6B8;
border-width:2px;
text-decoration: none;
border-radius:5px;
border-style:outset;
color:#000000;
padding:0em 0.2em 0em 0.2em;
}

a.button:active
{
border-style:inset;
}

a.button:hover
{
background-color:#E6F6B8;
}

input:hover{
background-color:#E6F6B8;
}

span.pre
{
    background-color: rgba(255,255,255,0.3);
}

pre
{
    background-color: rgba(255,255,255,0.3);
}

table tr:nth-child(odd) td{
		background-color: rgba(255,255,255,0.1);
}
table tr:nth-child(even) td{
	background-color: rgba(0,0,0,0.1);
}
