#topbanner {  
  width: 100%;
  background: rgba(255, 255, 230, 0.25);
  border-radius: 12px;
  margin:5px;
}

#page {  
  background-repeat: no-repeat;  
  /*background-image: url("/static/img/pagebg.jpg");  -webkit-background-size: 100% auto;*/
  background-color:rgb(150,170,100);
  background-size: cover;
}

/*a:link {background-color:#80FF80;}    /* unvisited link */
/*a:hover {background-color:#0066FF;}   /* mouse over link */
div.sectionbox {border-style:solid; 
background: rgba(255, 255, 230, 0.25);
border-width:2px;
border-radius: 7px;

padding-top:5px;
padding-bottom:5px;
padding-right:5px;
padding-left:5px;
margin:5px;
}

#nav {
border-style:solid; 
background: rgba(255, 255, 230, 0.25);
border-width: 2px;
border-radius:7px;
}

#nav tr{
border-style:solid;

}

#nav td{
border-style:none solid none solid; 
text-align: center;
border-color: grey;
}

input {background-color: #E6E6B8;}
input.modulename {width:70%}
textarea.description {background-color: #E6E6B8;width:70%;}


hr {
border: none;
border-top: 1px solid #ccc;
background-color: #ddd; color: #ddd;
height: 1px;
*height: 2px; /* IE6+7 need the total height */
}

h3{margin:3px;}
h4{margin:3px;}
h5{margin:3px;}
/*
h1{
color:#170E00;
}
h2{
color:#170E00;
}
h3{
color:#170E00;
}*/