#topbanner {  
  width: 100%;
  background: rgba(255, 255, 230, 0.25);
  border-radius: 12px;
  margin:5px;
}

#page {  
  background-repeat: no-repeat;  
  /*background-image: url("/static/img/pagebg.jpg");  -webkit-background-size: 100% auto;*/
  background-color:rgb(150,170,100);
  background-size: cover;
}

/*a:link {background-color:#80FF80;}    /* unvisited link */
/*a:hover {background-color:#0066FF;}   /* mouse over link */
div.sectionbox {border-style:solid; 
background: rgba(255, 255, 230, 0.25);
border-width:2px;
border-radius: 7px;

padding-top:5px;
padding-bottom:5px;
padding-right:5px;
padding-left:5px;
margin:5px;
}

#nav {
border-style:none; 
background: rgba(255, 255, 230, 0.25);
border-width: 2px;
border-radius:9px;
border-spacing: 0;
width:100%;
}

#nav tr{
border-style:solid;
border-radius: 9px;

}

#nav td{
border-style:none solid none solid; 
text-align: center;
border-color: grey;

}

#nav td:first-child{
border-style:none solid none solid; 
text-align: center;
border-color: grey;
border-radius:9px 0px 0px 9px;

}

#nav td:last-child{
border-style:none solid none solid; 
text-align: center;
border-color: grey;
border-radius:0px 9px 9px 0px;
}

input {background-color: #E6E6B8;}
input.modulename {width:70%}
textarea.description {background-color: #E6E6B8;width:70%;}


hr {
border: none;
border-top: 1px solid #ccc;
background-color: #ddd; color: #ddd;
height: 1px;
*height: 2px; /* IE6+7 need the total height */
}

h3{margin:3px;}
h4{margin:3px;}
h5{margin:3px;}

p.help
{
border-style:solid;
border-width:1px;
}

p.menubar
{
border-style:solid;
border-width:1px;
}

a.button{

border-width:2px;
text-decoration: none;
border-radius:5px;
border-style:outset;
color:#000000;
padding:0em 0.2em 0em 0.2em;
}


#nav button{

border-width:2px;
text-decoration: none;
border-radius:5px;
border-style:outset;
color:#000000;
padding:0em 0.2em 0em 0.2em;
}

