Package: kaithem
Version: 0.68.26
Maintainer: Daniel Dunn
Installed-Size: 35000
Description: The KaithemAutomation Web GUI based automation platform.
Architecture: all
Essential: no
Section: web
Priority: optional
Depends: python3, systemd, cython3, build-essential, python3-msgpack,python3-future
Recommends: python3-serial,
 python3-tz, python3-dateutil, lm-sensors, ffmpeg, python3-skimage,
 python3-netifaces,python3-jack-client,
 python3-gst-1.0, python3-libnacl, jack-tools,
 jackd2, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, python3-pillow,
 swh-plugins, tap-plugins, caps,  gstreamer1.0-plugins-ugly, python3-psutil, fluidsynth,libfluidsynth2,
 network-manager,python3-paho-mqtt,python3-dbus,python3-lxml,gstreamer1.0-pocketsphinx,x42-plugins,baresip,autotalent,libmpv-dev,python3-dev,
 libbluetooth-dev,libcap2-bin, rtl-433, python3-toml, python3-rtmidi,python3-pycryptodome, gstreamer1.0-opencv, gstreamer1.0-vaapi, python3-scipy, intel-opencl-icd

