Package: kaithem
Version: 0.65.21
Maintainer: Daniel Dunn
Installed-Size: 35000
Description: The KaithemAutomation Web GUI based automation platform.
Architecture: all
Essential: no
Section: web
Priority: optional
Depends: python3, systemd, cython3, build-essential
Recommends: mplayer, pulseaudio, python3-pyserial,
 python3-pytz, python3-dateutil, lm-sensors,
 python3-netifaces,python3-jack-client,
 python3-gst-1.0, python3-libnacl, jack-tools,
 jackd2, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, a2jmidid,
 swh-plugins, tap-plugins, caps,  gstreamer1.0-plugins-ugly, python3-psutil, fluidsynth,
 network-manager,python3-paho-mqtt,python3-dbus,python3-lxml

