---
allow_origins:
- '*'
allow_xss: false
alt-top-banner: ''
auto-reload: false
auto-reload-interval: 5.0
code: "# This code runs at every page load\r\n\r\ncounters[0] += 1"
mimetype: text/html
no_header: true
no_navheader: true
require_method:
- GET
- POST
require_permissions: []
resource-timestamp: 1699171048334713
resource-type: page
setupcode: "# This code runs once when the page is creates\r\n# All varibles in code\
  \ are accessible in the page body.\r\n\r\ncounters = [0]"
streaming-response: false
template_engine: jinja2
theme-css-url: ''

---
{% extends "pagetemplate.j2.html" %}

{% block title %} Dynamic Pages {% endblock %}

{% block body %}

<main>
  <section class="window">
    <header>
      <h2>Dynamic Pages</h2>
    </header>
    <p>Here we show how to add code to your pages</p>
      <h3>Jinja2 templating</h3>
      <p>Here's a counter! {{ counters[0] }}</p>
  </section>
</main>

{% endblock %}
