<%include file="/pageheader.html"/>
<style>
    /*https://allthingssmitty.com/2016/10/03/responsive-table-layout/*/
@media screen and (max-width: 820px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 1em;
  }
  
  table thead{
      display:none;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
  }
  .pin
  {
      font-weight: bold;
      font-size: 125%;
  }
  td{
      font-family: B612;
  }

}
</style>
<title>GPIO</title>
<div class="window paper">
  <script type="text/javascript" src="/static/js/widget.js"></script>
  <style>
    button.bold{
      font-weight: bolder;
      text-shadow: 5px;
      
    }
  </style>


  ${api.render("api")}

  <div id="app" style="min-width: 80%; max-width: 10000%; ">
   
    <h2>Digital Inputs in Use</h2>
    <details class="help"><summary><i class="icofont-question-circle"></i></summary>
        Only inputs via kaithem.gpio are shown.  You can "Mock" a pin, effectivly switching the pin into a virtual
        mode where it ignores real input and only watches your virtual commands.
    </details>
    <details class="help"><summary><i class="icofont-question-circle"></i></summary>
        Note that GPIOZero natively supports active-low pins. A pin is active when the voltage matches the configured active state,
        which can be high or low. Active low pins are "active" when the raw input is low.
    </details>
    <table border="1">
       <thead>
            <tr>
                <th>Name</th>
                <th title="If the pin is active, NOT the raw val">Current State</th>
                <th>Comment</th>
                <th>Mocked</th>
                <th>Active High</th>
                <th>Tools</th>
            </tr>
        </thead>

       <tr v-for="i in dictView(inputs, ['p'])">
           <td data-label="Pin:" class="pin"><b>{{i[0]}}</b></td>
           <td data-label="Active:" title="If the pin is active, NOT the raw voltage input">
            <i class="icofont-light-bulb" v-if="i[1].v"></i>
            
            {{i[1].v ? 'active':"inactive"}}</td>
           <td data-label="Comment:">{{i[1].c}}</td>
           <td data-label="Mocked:">
            <i class="icofont-wrench" v-if="i[1].m"></i>

            <i class="icofont-leaf" v-if="!i[1].m"></i>

            {{i[1].m ? 'Mocked':"Live"}}
           </td>
           <td data-label="Active High?:" title="Is the pin active when the voltage is high?">{{i[1].a_s}}</td>
           <td><button v-on:click="promptMock(i[0],1)" title="Fake the raw input voltage being high">Mock pin high/3.3v</button>
            <button v-on:click="promptMock(i[0],0)" title="Fake the raw input voltage being low">Mock 0V</button>
            <button v-on:click="promptMock(i[0],-1)" title="Stop faking inputs">Unmock</button>
        </td>
       </tr>

   </table>

   <h2>Digital Outputs in Use</h2>
   <details class="help"><summary><i class="icofont-question-circle"></i></summary>
       Only outputs via kaithem.gpio are shown.
   </details>
   <details class="help"><summary><i class="icofont-question-circle"></i></summary>
       Note that GPIOZero natively supports active-low pins. An active output is set to the "active state" which may be low or high.
   </details>
   <table border="1">
    <thead>
      <tr>
          <th>Name</th>
          <th title="If the pin is active, NOT the raw val">Current State</th>
          <th>Comment</th>
          <th>Overridden</th>
          <th>Active High</th>
          <th>Tools</th>
      </tr>
    </thead>

      <tr v-for="i in dictView(outputs, ['p'])">
          <td data-label="Pin:" class="pin"><b>{{i[0]}}</b></td>
          <td data-label="Active:" title="If the pin is active, NOT the raw voltage input">
            <i class="icofont-light-bulb" v-if="i[1].v"></i>
           {{i[1].v ? 'active':"inactive"}}</td>
          <td data-label="Comment:">{{i[1].c}}</td>
          <td data-label="Overridden:">
            
            <i class="icofont-wrench" v-if="i[1].m"></i>
            <i class="icofont-leaf" v-if="!i[1].m"></i>
           {{i[1].m ? 'Overridden':"Live"}}
          </td>
          <td data-label="Active high?:" title="Does the active state cause a high output voltage?">{{i[1].a_s}}</td>
          <td><button v-on:click="promptForce(i[0],1)" title="Force Active">Force Active</button>
           <button v-on:click="promptForce(i[0],0)" title="Force Inactive">Force Inactive</button>
           <button v-on:click="promptForce(i[0],-1)" title="Return to normal operation">Unforce</button>
          </td>
      </tr>

  </table>

   <button v-on:click="api.send(['refresh'])">Refresh</button>
</div>



<script src="/static/js/thirdparty/vue2.js"></script>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            connections: [],
            status: {},
            api: api,
            inputs: {},
            outputs: {},

            'promptMock': function (m, v) {
                var x = parseInt(m)
                if (!isNaN(x)) {
                    m = x;
                }

                //If we are not mocked, ask if we really want to
                //Also confim before unmock
                if ((!app.$data.inputs[m].m) | v == -1) {
                    var r = confirm("Are you sure you want to enable or disable mocking?")
                }
                else {
                    var r = true;
                }

                if (r != null) {
                    r = parseInt(r);
                    if (v == -1) {
                        api.send(['unmock', m])
                    }
                    else {
                        api.send(['mock', m, v])
                    }
                }
            },
            'promptForce': function (m, v) {
                var x = parseInt(m)
                if (!isNaN(x)) {
                    m = x;
                }

                //If we are not mocked, ask if we really want to
                //Also confim before unmock
                if ((!app.$data.outputs[m].m) | v == -1) {
                    var r = confirm("Are you sure you want to enable or disable forcing?")
                }
                else {
                    var r = true;
                }

                if (r != null) {
                    r = parseInt(r);
                    if (v == -1) {
                        api.send(['unforce', m])
                    }
                    else {
                        api.send(['force', m, v])
                    }
                }
            },
            'dictView': function (dict, sorts) {
                //Given a dict  and a list of sort keys sorts,
                //return a list of [key,value] pairs sorted by the sort 
                //keys. Earlier sort keys take precendence.

                //Keys starting with ! are interpreted as meanng to sort in descending order

                var o = []
                Object.keys(dict).forEach(
                    function (key, index) {
                        o.push([key, dict[key]])
                    })

                var l = []
                for (var i of sorts) {
                    //Convert to (reverse, string) tuple where reverse is -1 if str started with an exclamation point
                    //Get rid of the fist char if so
                    l.push([
                        i[0] == '!' ? -1 : 1,
                        i[0] == "!" ? i.slice(1) : i
                    ])
                }

                o.sort(function (a, b) {
                    //For each of the possible soft keys, check if they
                    //are different. If so, compare and possible reverse the ouptut

                    var d = a[1]
                    var d2 = b[1]
                    for (i of l) {
                        var key = i[1]
                        var rev = i[0]
                        if (!(d[key] == d2[key])) {
                            return (d[key] > d2[key] ? 1 : -1) * rev
                        }

                    }
                    return 0
                });
                return (o)
            }

        }
    }
    );

    api.upd = function (msg) {
        if (msg[0] == "inputs") {
            app.$data.inputs = msg[1]
        }
        if (msg[0] == "outputs") {
            app.$data.outputs = msg[1]
        }
        if (msg[0] == "v") {
            app.$data.inputs[msg[1]].v = msg[2]
        }
        if (msg[0] == "o") {
            app.$data.outputs[msg[1]].v = msg[2]
        }
        if (msg[0] == "ipin") {
            app.$data.inputs[msg[1]] = msg[2]
        }
        if (msg[0] == "opin") {
            app.$data.outputs[msg[1]] = msg[2]
        }
        if (msg[0] == "norealgpio") {
            alert("No real GPIO for this pin available on this system")
        }

    }

    var refresh = function () { api.send(['refresh']); }

    setInterval(refresh, 5000);
    api.send(['refresh'])
</script>

</div>
<%include file="/pagefooter.html"/>