:root {
  --bg: radial-gradient(circle, rgb(255 255 255 / 70%) 0%, rgb(188 193 162 / 64%)), url(banderole/pergament-papier-hintergrund-braun.avif);
  --box-bg: #e7e5ca7a;
  --fg: #522f28;
  --graphical-fg: rgb(75 45 14 / 81%);
  --control-fg: rgb(98 69 39 / 81%);
  --accent-color: var(--graphical-fg);
  --main-font: var(--serif-font);
  --heading-font: var(--sans-font);

  --convex-item-active-bg: none;
  --concave-item-box-shadow: inset 0px 0px 4px 2px #3838381f;
  --control-bg: #e5dcbe;
  --concave-item-bg: var(--control-bg);
  --convex-item-bg: var(--control-bg);
  --border-width: 1px;
  --control-border-width: 1px;
  --control-border-color: #412f1b42;
  --window-box-shadow: 3px 3px 12px 1px rgb(83 49 10 / 31%);
  --item-box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 16%);
  --slider-thumb: var(--highlight-color);
}

::selection {
  background: rgba(168, 170, 59, 0.123);
  color: rgb(70, 45, 19);
}


p::first-letter,
h1::first-letter,
h2::first-letter,
h3::first-letter,
h1 *::first-letter,
h2 *::first-letter,
h3 *::first-letter {
  color: #874437;
  font-weight: bold;
}


h1 {
  font-family: Fraktur;
}

body {
  color: #412f1b;
  border-color: #412f1b42;
}


details {
  border-color: #412f1b42;
}

details[open] {
  border-color: #412f1b;
}


.warning {
  background-color: rgba(217 217 45 / 71%);
}

.tool-bar * {
  text-shadow: none;
}


.menubar {
  background-color: transparent;
}


.window {
  border-width: 1px;
}


header:not(.undecorated) .tool-bar {
  transform: none;
}

a {
  color: rgb(87, 25, 63);
  text-shadow: none;
  text-decoration: none;
}




.widgetcontainer {
  background-color: rgba(70, 90, 70, 0);
  border-style: solid;
  border-color: inherit;
}




button:active,
a.button:active,
.tool-bar button:active,
.tool-bar a.button:active {
  background-image: linear-gradient(40deg, rgba(153, 134, 134, 0.13), rgba(0, 0, 0, 0.200));
}

img {
  opacity: 0.8;
}


/* body, button,html, a{
  cursor: url(/static/img/banderole/orcish_short_sword.png) 8 8, auto;
} */
.decorative-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.55;
  box-shadow: inset 2px 3px 8px 2px rgba(83, 49, 10, 0.096);
  border-radius: calc(var(--border-radius) * 2);
}


.decorative-image-h-bar {
  background-image: url(/static/img/banderole/decorativebarthing.svg);
  display: block;
}

.decorative-image-corner-ur {
  background-image: url(/static/img/banderole/Rose-Floral-Flourish-16.svg);
  display: block;
  box-shadow: none;
}





@keyframes blink-2 {
  0% {}

  3% {
    backdrop-filter: brightness(95%);
  }

  9% {
    backdrop-filter: brightness(97%);
  }

  12% {
    backdrop-filter: brightness(93%);
  }

  15% {
    backdrop-filter: brightness(97%);
  }

  18% {
    backdrop-filter: brightness(99%);
  }

  23% {
    backdrop-filter: brightness(93%);
  }

  25% {
    backdrop-filter: brightness(99%);
  }

  26% {
    backdrop-filter: brightness(95%);
  }

  28% {
    backdrop-filter: brightness(99%);
  }

  30% {
    backdrop-filter: none;
  }
}