---
allow-origins: ['*']
allow-xss: false
auto-reload: false
auto-reload-interval: 5.0
dont-show-in-index: true
mimetype: text/html
no-header: true
no-navheader: false
require-method: [GET, POST]
require-permissions: []
resource-type: page
template-engine: none

---
<style scoped>
    .comboboxdropdown {
        background-color: rgb(255, 255, 255, 0.3);
        position: absolute;
        border-radius: 1em;
        max-height: 10em;
        overflow: scroll;
        min-width: 8em;
    }
</style>

<template>
    <div style="display:inline-block" style="width:0px">
        <input v-bind:value="value" v-on:input="$emit('input', $event.target.value);">
        <button title="Show/Hide selector" v-on:click="showmenu=!showmenu">...</button>
        <div v-if="showmenu" class="comboboxdropdown">
            <div v-for="i in options" v-if="(!value) || i[0].includes(value) || i[0].includes(value)">
                <button v-on:click="$emit('input',i[0]);showmenu=false">{{i[0]}}</button><br>
                <p>{{i[1]}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    module.exports = {

        props: ['options','value'],
        data: function()
        {
            return (
                {'showmenu':false})
        }
    }

</script>