---
allow-origins: ['*']
allow-xss: false
auto-reload: false
auto-reload-interval: 5.0
dont-show-in-index: false
mimetype: text/html
no-header: false
no-navheader: true
require-method: [GET, POST]
require-permissions: []
resource-type: page
template-engine: mako

---
<script src="/static/js/vue2.js"></script>

<style>
    .dropdown{
    background-color:rgb(255,255,255,0.3);
    position:absolute;
    border-radius:1em;
    max-height: 10em;
    overflow:scroll;
    min-width: 8em;
    }
</style>

<template id="vue-combobox-template">
    <div style="display:inline-block" style="width:0px">
        <input v-bind:value="value" v-on:focus="showmenu=true" v-on:blur="showmenu=false" v-on:input="$emit('input', $event.target.value);">
        <button v-on:click="showmenu=!showmenu">...</button>
        <div v-if="showmenu" class="dropdown">
            <div v-for="i in options" v-if="(!value) || i[0].includes(value) || i[0].includes(value)" >
                <button v-on:click="$emit('input',i[0]);showmenu=false">{{i[0]}}</button><br>
                <p>{{i[1]}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('combo-box',
{
    template: '#vue-combobox-template',
    props: ['options','value'],
    data: function()
    {
        return ({'showmenu':false
        
        })
    }
})
</script>


<div id="app">
    <combo-box v-bind:options="options" v-model="input"></combo-box>
    Foo<br>foo
</div>


new Vue({
  el: '#app',
  data: {
    input: '',
    options:[ ['foo','A test'],['foo2','A test'],['foo','A test'],['foo','A test'],['foo','A test'],['foo','A test'],['foo','A test'],['foo','A test']],
    filter:''
  }
  }
)

</script>